/* default color for everything */
$c-default:#444;

$white:#fff;
$off-white:#efeae1;
$t-white:rgba(255,255,255,0.25);
$t-white-dark:rgba(255,255,255,0.6);
$t-white-heavy:rgba(255,255,255,0.9);

$gray:#ccc;
$md-gray:#999;
$dk-gray:#444;
$black:#000;
$t-black-light:rgba(0,0,0,0.3);
$t-black:rgba(0,0,0,0.5);
$t-black-heavy:rgba(0,0,0,0.8);
$t-gray:rgba(55,55,55,0.5);
$t-gray-heavy:rgba(33,33,33,0.8);
$lt-blue:#4687c3;
$blue:#003366;
$dk-blue:#003366;
$t-blue:rgba(0, 51, 102, 0.75);
$t-blue-light:rgba(0, 51, 102, 0.65);
$t-blue-heavy:rgba(102,40,139,0.9);

$red:#d21301;

$gold: #ffcc33;
$dk-gold:#b89a68;

$t-red:rgba(173,0,0,0.9);
$white-1:#E6E8E6;
$white-2:#F2F4F6;
$white-3:#F9F9F9;
$white-4:#FDFDFD;


$dk:#444;
$lt:#ccc;