/* default color for everything */
$c-default:#444;

$t-white-heavy:rgba(255,255,255,0.9);
$t-white-dark:rgba(255,255,255,0.6);
$t-white:rgba(255,255,255,0.25);
$white:#fff;
$off-white:#efeae1;

$lt-gray:#ccc;
$gray:#999;
$md-gray:#666;
$dk-gray:#333;

$off-black:#111;
$black:#000;
$t-black-light:rgba(0,0,0,0.25);
$t-black:rgba(0,0,0,0.6);
$t-black-heavy:rgba(0,0,0,0.9);

$red:#d21301;
$t-red:rgba(173,0,0,0.9);
$blue:#0000FF;
$t-blue:rgba(0,0,173,0.9);
$green:#00FF00;
$t-green:rgba(0,173,0,0.9);

$dk:$t-black;
$lt:$t-black-light;

$r1:42;
$g1:42;
$b1:42;
$color-1:rgba($r1,$g1,$b1,1);
$color-1-tl:rgba($r1, $g1, $b1, 0.25);
$color-1-t:rgba($r1, $g1, $b1, 0.5);
$color-1-th:rgba($r1,$g1,$b1,0.75);

$r2:187;
$g2:187;
$b2:187;
$color-2: rgba($r2,$g2,$b2,1);
$color-2-tl:rgba($r2,$g2,$b2,0.25);
$color-2-t:rgba($r2,$g2,$b2,0.5);
$color-2-th:rgba($r2,$g2,$b2,0.75);

$r3:70;
$g3:135;
$b3:195;
$color-3: rgba($r3,$g3,$b3,1);
$color-3-tl:rgba($r3,$g2,$b3,0.25);
$color-3-t:rgba($r3,$g3,$b3,0.5);
$color-3-th:rgba($r3,$g3,$b3,0.75);