/* default color for everything */
$c-default:#444;

$white:#fff;
$off-white:#efeae1;
$t-white:rgba(255,255,255,0.25);
$t-white-dark:rgba(255,255,255,0.6);
$t-white-heavy:rgba(255,255,255,0.9);

$lt-gray:#eee;
$gray:#ccc;
$md-gray:#999;
$dk-gray:#444;

$black:#000;
$t-black-light:rgba(0,0,0,0.3);
$t-black:rgba(0,0,0,0.5);
$t-black-heavy:rgba(0,0,0,0.8);

$red:#d21301;
$t-red:rgba(173,0,0,0.9);
$blue:#0000FF;

$white-1:#E6E8E6;
$white-2:#F2F4F6;
$white-3:#F9F9F9;
$white-4:#FDFDFD;


$dk:#444;
$lt:#ccc;

$r1:42;
$g1:42;
$b1:42;
$color-1:rgba($r1,$g1,$b1,1);
$color-1-tl:rgba($r1, $g1, $b1, 0.25);
$color-1-t:rgba($r1, $g1, $b1, 0.5);
$color-1-th:rgba($r1,$g1,$b1,0.75);

$r2:187;
$g2:187;
$b2:187;
$color-2: rgba($r2,$g2,$b2,1);
$color-2-tl:rgba($r2,$g2,$b2,0.25);
$color-2-t:rgba($r2,$g2,$b2,0.5);
$color-2-th:rgba($r2,$g2,$b2,0.75);

$color-3:rgba(70,135,195,1);