
$fa-caret-right:"\f0da";
$fa-angle-right:"\f105";




@font-face{
	font-family: 'BebasNeueBold';
	src: url(/.includes/fonts/bebas/bebasneue_bold-webfont.otf);
	src: url(/.includes/fonts/bebas/bebasneue_bold-webfont.woff);
}
@font-face{
	font-family: 'BebasNeueBook';
	src: url(/.includes/fonts/bebas/bebasneue_book-webfont.otf);
	src: url(/.includes/fonts/bebas/bebasneue_book-webfont.woff);
}
@font-face{
	font-family: 'BebasNeueLight';
	src: url(/.includes/fonts/bebas/bebasneue_light-webfont.otf);
	src: url(/.includes/fonts/bebas/bebasneue_light-webfont.woff);
}
@font-face{
	font-family: 'BebasNeueReg';
	src: url(/.includes/fonts/bebas/bebasneue_regular-webfont.otf);
	src: url(/.includes/fonts/bebas/bebasneue_regular-webfont.woff);
}
@font-face{
	font-family: 'BebasNeueThin';
	src: url(/.includes/fonts/bebas/bebasneue_thin-webfont.otf);
	src: url(/.includes/fonts/bebas/bebasneue_thin-webfont.woff);
}
@font-face{
	font-family: 'DTLParadoxBold';
	src: url(/.includes/fonts/dtlparadox/Bold/dtlparadoxt-bold-webfont.otf);
	src: url(/.includes/fonts/dtlparadox/Bold/dtlparadoxt-bold-webfont.woff);
}
@font-face{
	font-family: 'DTLParadoxItal';
	src: url(/.includes/fonts/dtlparadox/Italic/dtlparadoxt-italic-webfont.otf);
	src: url(/.includes/fonts/dtlparadox/Italic/dtlparadoxt-italic-webfont.woff);
}
@font-face{
	font-family: 'DTLParadoxReg';
	src: url(/.includes/fonts/dtlparadox/Regular/dtlparadoxt-webfont.otf);
	src: url(/.includes/fonts/dtlparadox/Regular/dtlparadoxt-webfont.woff);
}
@font-face{
	font-family: 'ITCFranklinGothicBK';
	src: url(/.includes/fonts/franklin/bk/ITCFranklinGothicStd-Book.otf);
	src: url(/.includes/fonts/franklin/bk/ITCFranklinGothicStd-Book.woff);
}
@font-face{
	font-family: 'ITCFranklinGothicBKCD';
	src: url(/.includes/fonts/franklin/bkcd/ITCFranklinGothicStd-BkCd.otf);
	src: url(/.includes/fonts/franklin/bkcd/ITCFranklinGothicStd-BkCd.woff);
}
@font-face{
	font-family: 'ITCFranklinGothicBKCDIT';
	src: url(/.includes/fonts/franklin/bkcdit/ITCFranklinGothicStd-BkCdIt.otf);
	src: url(/.includes/fonts/franklin/bkcdit/ITCFranklinGothicStd-BkCdIt.woff);
}
@font-face{
	font-family: 'ITCFranklinGothicDMCD';
	src: url(/.includes/fonts/franklin/dmcd/ITCFranklinGothicStd-DmCd.otf);
	src: url(/.includes/fonts/franklin/dmcd/ITCFranklinGothicStd-DmCd.woff);
}
@font-face{
	font-family: 'ITCFranklinGothicDMCDIT';
	src: url(/.includes/fonts/franklin/dmcdit/ITCFranklinGothicStd-DmCdIt.otf);
	src: url(/.includes/fonts/franklin/dmcdit/ITCFranklinGothicStd-DmCdIt.woff);
}