body{
	&.generic_inner{
		.l-page{
			.l-featured-header{
				.featured{
					max-height:500px;
				}
				.column{
					h2{
						@include paradox(24px,$white);
						@include breakpoint($tab){
							font-size:40px;
							line-height:50px;
						}
						@include breakpoint($tab-large){
							font-size:80px;
							line-height:90px;
						}
						font-weight:bold;
						text-shadow:0 0 5px $t-black;
						position:absolute;
						top:10%;
						padding:20px;
					}
				}
			}
			.l-content-header {
				@include floatblock();
				margin:20px auto;
				.wrapper{
					.column{
						@include breakpoint($desk){
							padding:0 20px;
						}
					}
				}
				.feature{
					@include floatblock();
					padding-bottom:40px;
					img{
						max-width:100%;
					}
				}
			}
			.l-content-center{
				@include floatblock(none,100%);
				@include breakpoint($desk,true){
					padding:20px;
				}
				.l-nav-sidebar{
					@include floatblock();
					@include breakpoint($desk,true){
						width:20%;
						width: -webkit-calc(#{$nav-sidebar-width});
						width: calc(#{$nav-sidebar-width});
					}
				}
				.l-content-featured{
					@include floatblock();
					padding-bottom:20px;
					@include breakpoint($desk,true){
						padding:0px 0px 20px 20px;
						width:80%;
						width:-webkit-calc(100% - #{$nav-sidebar-width});
						width: calc(100% - #{$nav-sidebar-width});
					}
				}
				.l-content-wrapper{
					@include floatblock(right);
					@include breakpoint($desk,true){
						width:80%;
						width: -webkit-calc(100% - #{$nav-sidebar-width});
						width: calc(100% - #{$nav-sidebar-width});
						padding-bottom:40px;
					}
					.l-content {
						@include floatblock();
						border-bottom:5px solid $color-2;
						margin:0 0 20px 0;
						@include breakpoint($tab,true){
							border-bottom:0;
							padding:0 20px 0 0;
							margin:0;
							width:66.6666%;
							width: -webkit-calc(100% - #{$nav-promo-width});
							width: calc(100% - #{$nav-promo-width});
						}
						@include breakpoint($desk){
							padding-left:20px;
						}
						img{
							max-width:100%;
						}
						> h2{
							@include floatblock();
							border-bottom: 1px solid $color-2;
							margin:0 0 20px 0;
						}
						.matrix{
							border:none;
						}
						section{
							margin:0 0 20px;
						}
					}
					.l-promo-sidebar{
						@include floatblock();
						@include breakpoint($tab,true){
							width:33.3333%;
							width:-webkit-calc(#{$nav-promo-width});
							width:calc(#{$nav-promo-width});
						}
					}
					&.full-width{
						.l-content{
							width:100%;
						}
					}
				}
			}
			.l-content-footer{
				@include floatblock();
				section{
					padding:20px;
					@include breakpoint($tab){
						padding:0;
					}
				}
			}
		}
	}
}