body{
	&.generic_inner{
		.l-page{
			.l-featured-header{
				min-height:90px;
				.featured{
					max-height:500px;
				}
			}
			.l-content-header {
				margin:20px auto;
				.feature{
					padding-bottom:40px;
					img{
						max-width:100%;
					}
				}
			}
			.l-content-center{
				.l-nav-sidebar{
					@include breakpoint($desk){
						@include calc('width',' #{$nav-sidebar-width}','20%');
					}
				}
				.l-content-featured{
					padding-bottom:20px;
					@include breakpoint($desk){
						padding:0px 0px 20px 20px;
						@include calc('width','100% - #{$nav-sidebar-width}','80%');
					}
				}
				.l-content-wrapper{
					float:right;
					@include breakpoint($desk){
						@include calc('width','100% - #{$nav-sidebar-width}','80%');
						padding:0 0 40px 20px;
					}
					.l-content {
						margin:0 0 20px 0;
						@include breakpoint($tab){
							padding:0 20px 0 0;
							margin:0;
							@include calc('width','100% - #{$nav-promo-width}','66.6666%');
						}
						img{
							max-width:100%;
						}
						> h2{
							margin:0 0 20px 0;
						}
						.matrix{
							border:none;
						}
					}
					.l-promo-sidebar{
						@include breakpoint($tab){
							@include calc('width','#{$nav-promo-width}','33.3333%');
						}
					}
					&.full-width{
						.l-content{
							width:100%;
						}
					}
				}
			}
			.l-content-footer{}
		}
	}
}