.promo-event{
	/* _p_event.scss */
	margin-bottom:10px;
	a{
		margin:auto;
		text-align:center;
		max-width:100%;
		display:table;
		.date{
			display:table-cell;
			float:none;
			vertical-align:middle;
			width:100px;
			background:$color-1;
			padding:10px 0px;
			position:relative;
			.weekday{
				width:51%;
				@include font('open_sans',16,$color-2);
				line-height:16px;
				text-transform:uppercase;
			}
			.month{
				width:51%;
				@include font('open_sans',20,$white);
				line-height:16px;
				text-transform:uppercase;
			}
			.day{
				width:51%;
				@include font('open_sans',42,$white);
				@include calc('top','50% - 22px','50%');
				position:absolute;
				right:3px;
			}
		}
		.info{
			display:table-cell;
			float:none;
			vertical-align:middle;
			@include calc('width','100% - 100px','75%');
			h3{
				@include font('open_sans_reg',20,$color-1);
				padding:0 10px;
				line-height:20px;
				text-align:left;
				border-bottom:none;
				float:left;
				margin:0;
			}
			p{
				margin:0;
				text-align:left;
				padding:0 10px;
				@include font('lora',16,$c-default);
			}
		}
		&:hover{
			text-decoration:none;
		}
	}
	&.tall{
		a{
			.date{
				width:50px;
				padding:30px;
				.weekday{
					width:100%;
					font-size:18px;
					line-height:18px;
				}
				.month{
					width:100%;
					font-size:24px;
					line-height:24px;
				}
				.day{
					position:relative;
					width:100%;
					top:initial;
					right:initial;
					font-size:38px;
					line-height:38px;
					padding-bottom:5px;
				}
			}
			.info{
				@include calc('width','100% - 50px','75%');
			}
		}
	}
	&.round{
		a{
			.date{
				width:80px;
				padding-bottom:0;
				background:none;
				.weekday{
					width:100%;
					font-size:18px;
					line-height:18px;
					color:$color-1;
				}
				.month{
					width:100%;
					font-size:24px;
					line-height:24px;
					color:$color-1;
				}
				.day{
					position:relative;
					width:100%;
					top:initial;
					right:initial;
					font-size:40px;
					line-height:40px;
					width:80px;
					padding-bottom:5px;
					background:$color-1;
					border-radius:50%;
					padding:20px;
				}
			}
			.info{
				@include calc('width','100% - 80px','75%');
			}
		}
	}
	&.basic{
		a{
			.date{
				width:auto;
				padding-right:10px;
				background:$color-2;
				margin:0 0 10px 10px;
				.weekday,
				.month,
				.day{
					width:auto;
					position:relative;
					background:none;
					color:$color-1;
					left:0;
					right:0;
					font-size:18px;
					line-height:18px;
					padding-left:10px;
				}
			}
			.info{
				width:auto;
			}
		}
	}
}