// Import external libraries.
@import "compass";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "breakpoint";
@import "compass/reset";
@import "variables/**/*";
@import "base/**/*";
@import "../headers/**/*";
@import "../layouts/**/*";
body{
	@import "components/**/*";
	*{
		box-sizing:border-box;
		display:block;
		float:left;
		width:100%;
	}
	script{
		display:none;
	}
}
.back-to-top{
	display:none;
	right:20px;
	bottom:20px;
	background:$color-1;
	border: 3px solid $color-2;
	@include arrowdown($color-2,30px);
	position:fixed;
	height:60px;
	width:60px;
	border-radius:50%;
	z-index:9999;
	transition:box-shadow 0.3s;
	color:$color-2;
	text-transform:uppercase;
	font-size:12px;
	line-height:12px;
	text-align:center;
	padding:24px 0 0 0;
	&:after{
		-webkit-transform:rotateZ(-90deg);
		-ms-transform:rotateZ(-90deg);
		transform: rotateZ(-90deg);
		padding:0 13px;
		top:8px;
		left:7px;
	}
	&:hover{
		text-decoration:none;
	}
}
img{
	position:relative;
	width:auto;
	height:auto;
	&.mobile-image{
		@include breakpoint($tab){
			display:none!important;
		}
	}
	&.desk-image{
		display:none!important;
		@include breakpoint($tab){
			display:block!important;
		}
	}
}

h1{
	@include font('paradoxbold',36px,$color-1);
	margin:0 0 20px 0;
	@include breakpoint($tab){
		font-size:48px;
		line-height:54px;
	}
}
h2{
	@include font('paradoxbold',28px,$color-1);
	margin:0 0 20px 0;
}
h3{
	@include font('paradoxbold',24px,$color-1);
	line-height:24px;
	border-bottom:1px solid $color-2;
	margin:0 0 20px 0;
}
h4{
	@include font('bebas',20px,$color-1);
	margin:0 0 10px 0;
}
h5{
	@include font('paradox',18px,$color-1);
	font-weight:bold;
	margin:0 0 10px 0;
}
h6{
	@include font('paradox',18px,$black);
	margin:0 0 10px 0;
}
p{
	float:none;
	@include font('f-bk',18px,$dk-gray);
	margin:10px 0;
}
ul,
ol{
	float:none;
	li{
		@include font('f-bk',18px,$dk-gray);
		display:list-item;
	}
}
a{
	@include font('f-bkcd',18px,$color-1);
	text-decoration:none;
	&:hover{
		text-decoration:underline;
	}
	&[href="#"]{
		//outline:dotted 1px red!important;
	}
	&[href$=".pdf"]{
		&:after{
			content:"\f1c1";
			font-family:FontAwesome;
			color:#FF0000;
			font-size:12px;
			padding-left:5px;
			text-shadow: 1px 1px 0px $t-black-light;
		}
	}
	&[href$=".docx"],
	&[href$=".doc"]{
		&:after{
			content:"\f1c2";
			font-family:FontAwesome;
			color:#0005FF;
			font-weight:bold;
			font-size:12px;
			padding-left:5px;
			text-shadow: 1px 1px 0px $t-black-light;
		}
	}
}
section{
	margin:20px 0;
	max-height:initial;
	position:relative;
	@include breakpoint($tab){
		margin-top:0px;
	}
	> h2{
		border-bottom:1px solid $color-2;
		margin-bottom:20px;
	}
	&.short{
		max-height:300px;
		overflow:hidden;
		.view-more{
			@include font('bebas',16px,$color-1);
			@include arrowafter($color-1,12px,"\f067");
			position:absolute;
			background:$white;
			&:after{
				right:0;
			}
		}
	}
	.view-more{
		@include font('bebas',16px,$color-1);
		@include arrowafter($color-1,12px,"\f068");
		display:block;
		bottom:-4px;
		width:100%;
		text-align:right;
		padding-right:12px;
		&:after{
			right:0;
		}
	}
}
form{
	div{
		position:relative;
		input{
			@include font('f-bk',18px,$dk-gray);
			font-style:italic;
			line-height:24px;
			padding:10px;
			position:relative;
			margin:10px 0;
		}
		&.required{
			&:after{
				content:'*';
				color: #F00;
				position: absolute;
				left: 3px;
				top: 14px;
			}
		}
		textarea{
			@include font('f-bk',18px,$dk-gray);
			line-height:24px;
			font-style:italic;
			padding:10px;
			max-width:100%;
			min-height:200px;
			margin:10px 0;
		}
	}
	.submit{
		@include font('bebas',18px,$white);
		width:auto;
		margin:10px 0;
		background:$color-1;
		border:1px solid $gray;
		border-radius:3px;
		padding:10px 30px;
		text-transform:uppercase;
		cursor:pointer;
		-webkit-appearance: none;
	}
}
.caption{
	max-width:100%;
	width:auto;
	p{
		@include floatblock();
		color:$color-1;
		font-style:italic;
		margin:0 0 15px 0;
		border-bottom:1px solid $color-2;
		padding:10px 0;
	}
	img{
		width:100%;
	}
}
body{
	&.home{
		h1{
			margin:0;
		}
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	input[type='text'],
	input[type='number'],
	textarea {
		font-size: 16px!important;
	}
	strong{
		font-weight:bold;
	}
}