#colorbox{
	/* _p_colorbox.scss */
	z-index:9999;
}
#cboxTitle{
	bottom:18px;
}
.cbox-title{
	.container{
		margin-bottom:24px;
		position:relative;
		background:$color-1-t;
		h2{
			@include font('open_sans',16,$white);
			padding:5px 20px;
			span{
				color:$color-2;
			}
		}
		p{
			padding:0;
		}
	}
}