
body.sticky-h{
	header{
		.l-head{
			z-index:3;
			min-height:50px;
			.mobi-toggle-container{
				display:none;
				background: $color-1;
				@include breakpoint($tab){
					display:block;
				}
				.utility {
					float:right;
					background: black;
					@include breakpoint($tab){
						height:auto;
						padding-right:0;
					}
					> .column{
						padding:0;
					}
					.gateway-menu,
					.utility-menu{
						width:100%;
						@include breakpoint($tab){
							width:auto;
							float:right;
						}
						@include breakpoint($desk){
							float:left;
						}
						ul{
							display:block;
							padding:0;
							@include breakpoint($tab){
								height:50px;
								display:table;
							}
							li{
								padding:8px;
								background:$color-3;
								border-bottom:1px solid $dk-gray;
								margin:0;
								list-style-type:none;
								@include breakpoint($desk){
									background:none;
								}
								a{
									color:$white;
									@include font-size(12);
								}
							}
						}
						@include breakpoint($desk){
							height:50px;
							display:table;
							width:auto;
							ul{
								li{
									width:auto;
									padding:0 15px 0 0;
									display:table-cell;
									vertical-align:middle;
									float:none;
									border:none;
								}
							}
						}
					}
					.utility-menu{
						float:right;
						@include breakpoint($desk){
							float:right;
						}
					}
					.search{
						width:100%;
						@include breakpoint($tab){
							width:auto;
							float:right;
							position:relative;
						}
						form{
							margin:auto;
							max-width:$maxwidth;
							padding:10px 0;
							@include breakpoint($tab){
								display:none;
							}
							#as_q{
								height:30px;
								@include calc('width','100% - 50px','90%');
								@include font('Lora',16,$c-default);
								font-style:italic;
								border:none;
								padding-left:5px;
								&:focus{}
								&::-webkit-input-placeholder,
								&:-moz-placeholder,
								&::-moz-placeholder,
								&:-ms-input-placeholder {
									color: $gray;
								}
							}
							#site_search_button{
								@include calc('width','50px','10%');
								@include font('Lora',20,$color-1);
								font-size:20px;
								color:$color-2;
								height:30px;
								background:none;
								border:none;
								cursor:pointer;
								text-transform:uppercase;
								&:focus{
									outline:2px solid $t-white;
								}
							}
						}
						.search-toggle{
							display:none;
							cursor:pointer;
							background:transparent;
							height:50px;
							border:none;
							color:$color-2;
							font-size:18px;
							position:relative;
							margin-right:50px;
							padding:0 10px;
							@include breakpoint($tab){
								display:block;
								width:50px;
								top:0;
								margin-right:0;
							}
							&:focus{
								outline:rgb(77,144,254) auto 5px;
							}
						}
					}
				}
			}
			.mobi-toggle-wrapper{
				width:50px;
				position:absolute;
				right:0;
				height:50px;
				cursor:pointer;
				background: black;
				@include breakpoint($tab){
					display:none;
				}
				.toggle{
					@include floatblock(right,auto);
					position:relative;
					padding:13px 3px;
					z-index:10;
					cursor:pointer;
					color:$white;
					-webkit-transition: all 0.5s cubic-bezier(0.5,0.1,0.3,0.5);
					-moz-transition: all 0.5s cubic-bezier(0.5,0.1,0.3,0.5);
					-o-transition: all 0.5s cubic-bezier(0.5,0.1,0.3,0.5);
					transition: all 0.5s cubic-bezier(0.5,0.1,0.3,0.5);
					.toggle-element{
						@include floatblock(left,24px);
						height:4px;
						margin:10px;
						background:$white;
						-webkit-transition: all 0.4s;
						-moz-transition: all 0.4s;
						-o-transition: all 0.4s;
						transition: all 0.4s;
						padding: 0;
						box-sizing: initial;
						&:before{
							top: -7px;
							content: '';
							display: block;
							width: 24px;
							height: 4px;
							background: $white;
							position: relative;
							z-index: -1;
							-webkit-transition: all 0.4s;
							-moz-transition: all 0.4s;
							-o-transition: all 0.4s;
							transition: all 0.4s;
						}
						&:after{
							top: 3px;
							content: '';
							display: block;
							width: 24px;
							height: 4px;
							background: $white;
							position: relative;
							z-index: -1;
							-webkit-transition: all 0.4s;
							-moz-transition: all 0.4s;
							-o-transition: all 0.4s;
							transition: all 0.4s;
						}
					}
					&:hover{
						-webkit-transition: top 0.4s;
						-moz-transition: top 0.4s;
						-o-transition: top 0.4s;
						transition: top 0.4s;
						.toggle-element{
							&:before{
								top:-8px;
							}
							&:after{
								top:4px;
							}
						}
					}
				}
			}
			.site-logo-wrapper{
				.site-logo{
					display:block;
					position:relative;
					z-index:0;
					margin:auto;
					@include breakpoint($tab){
						width:auto;
						float:left;
						position:relative;
						top:0;
					}
					img{
						display:block;
						position:fixed;
						top:0;
						max-height:50px;
						width:auto;
						@include calc('max-width','100% - 70px','100%');
						@include breakpoint($desk){
							box-shadow:1px 1px 6px $t-black-light;
							position:relative;
							max-height: initial;
							max-width: initial;
						}
					}
				}
			}
			&.search-open{
				.utility{
					.column{
						.search{
							.search-toggle{
								background:$color-3;
								span.fa-search{
									&:before{
										content:"\f00d";
									}
								}
							}
							form{
								display:table-cell;
								vertical-align:middle;
								float:none;
								position:relative;
								@include calc('width','100% - 42px', '100%');
								@include breakpoint($tab){
									width:300px;
									position:absolute;
									top:50px;
									z-index:2;
									background:$color-3;
									padding:10px;
									right:0;
								}
							}
						}
					}
				}
			}
		}
		&.mobi-open{
			.l-head{
				left: 0;
				z-index:9998;
				overflow:auto;
				height:100vh;
				@include breakpoint($tab){
					height:auto;
					overflow:visible;
				}
				.mobi-toggle-container{
					display:block;
				}
				.mobi-toggle-wrapper{
					.toggle{
						left:0px;
						.toggle-element{
							background:none;
							&:before{
								top: 0px;
								background: $white;
								-webkit-transform: rotate(-45deg);
								-ms-transform: rotate(-45deg);
								transform: rotate(-45deg);
							}
							&:after{
								top: -4px;
								background: $white;
								-webkit-transform: rotate(45deg);
								-ms-transform: rotate(45deg);
								transform: rotate(45deg);
							}
						}
					}
				}
				.utility{
					height:auto;
					padding-top:50px;
					@include breakpoint($tab){
						padding-top:0;
					}
				}
			}
			.main-nav-container{
				width:100%;
				float:right;
				display:block;
			}
		}
	}
	&.sticky{
		header{
			&.mobi-open{
				.l-head{
					@include breakpoint($desk){
						position:fixed;
						height:auto;
					}
				}
			}
			.l-head{
				position:fixed;
				z-index:99999;
				.site-logo-wrapper{
					.site-logo{
						margin:0;
						img{
							@include breakpoint($desk){
								top:0;
								max-height:50px;
								@include calc('max-width','100% - 181px','50%');
								margin:0;
								position:relative;
								height:auto;
								width:0;
							}
						}
					}
				}
				@include breakpoint($desk){
					.main-nav-container{
						.nav-wrapper{
							background:none;
							border:none;
							.column{
								> .desk-sticky{
										display:block;
										float:left;
										width:30%;
										height:56px;
										overflow:hidden;
									img{
										width:auto;
										height:56px;
									}
								}
								.main-nav{
									width:70%;
									float:right;
									height:57px;
									li{
										border-bottom:0;
										vertical-align:middle;
										a{
											color:$white;
											font-size:13px;
											&:hover{
												color:$white;
											}
										}
									}
									&:hover{
										li{
											a{
												color:$t-white-dark;
												&:hover{
													color:$white;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}