
/* _accordion.scss */
$tabacc_breakpoint:$tab;
$tabacc_font:"bebas";
//inactive tab background, active accordion background & content border
$tabacc_inactive_tab:$color-2;
//active tab background & content border, inactive font. inactive accordion background
$tabacc_active_tab:$color-1;
//active tab color, inactive accordion color, space between tabs
$tabacc_tab_color:$white;

/* _alert.scss */
$emergency_alert_color:$red;
$weather_alert_color:$blue;
$alert_toggle_color:$color-2;
$alert_text_color:$white;

/* _breadcrumb.scss */
$text-color:$black;
$border-color:$gray;
$separator:$fa-caret-right;

/* _grid.scss */
$grid-padding:20px;
$grid-break:$tab;
$vert-height:400px;

/* _main_nav.scss */
$background_color:$white;
$primary_font_family:'f-dm';
$primary_font_color:$color-1;
$secondary_font_family:'paradoxbold';
$secondary_font_color:$color-2;

/* _p_link.scss */
$dark_background:$color-1;
$light_background:$color-2;
$font_fam:'bebas';

/* _p_matrix.scss */
$matrix-padding:20px;
$matrix-break:$tab;
