@mixin floatblock($dir:left,$width:100%){
	display:block;
	float:$dir;
	width:$width;
}
/* @include font('Open Sans',16,$white,22) */
@mixin font($family:"Arial",$size:16,$color:$c-default,$spacing:6){
	color:$color;
	@include font-size($size,$spacing);
	@if $family == 'lobster'{
		font-family: 'Lobster', cursive;
	} @else if $family == 'open_sans'{
		font-family:'Open Sans', sans-serif;;
		font-weight:400;
	} @else if $family == 'open_sans_reg'{
		font-family: 'Open Sans',sans-serif;
		font-weight:600;
	} @else if $family == 'open_sans_bold'{
		font-family: 'Open Sans',sans-serif;
		font-weight:700;
	} @else if $family == 'lora'{
		font-family: 'Lora', serif;
		font-weight:400;
	} @else if $family == 'lora_bold'{
		font-family: 'Lora', serif;
		font-weight:700;
	} @else if($family == 'mono'){
		font-family: 'PT Mono'
	} @else {
		font-family:'Open Sans',sans-serif;
	}
}
/* @include font-size(16,0); */
@mixin font-size($sizeValue: 16,$spacing:6) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
	line-height: ($sizeValue + $spacing) + px;
	line-height: (($sizeValue + $spacing) / 10) + rem;
}

@mixin arrow($loc:'after',$color:$t-white,$font-size:14,$type:"\f105"){
	position:relative;
	&:#{$loc}{
		content: $type;
		font-family: FontAwesome;
		@include font-size($font-size,0);
		position: absolute;
		left: -10px;
		color:$color;
	}
}
@mixin arrowdown($color:inherit,$font-size:12,$type:"\f105"){
	position:relative;
	padding-right:20px;
	&:after{
		position: absolute;
		color:$color;
		content: $type;
		font-family: FontAwesome;
		@include font-size($font-size,0);
		@include calc('top','50% - #{$font-size / 2}','50%');
		@include transform(rotateZ(90deg));
		padding:0 10px;
		transition:all .2s;
	}
}
@mixin v-gradient(){
	@include filter-gradient(#000000, #a60000, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));
}
@mixin h-gradient-dark($back-color){
	@include filter-gradient(#570000, #000000, horizontal); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.7) 5%,rgba(0,0,0,0.55) 23%,rgba(0,0,0,0.33) 77%,rgba(0,0,0,0) 99%));
	background-color:$back-color
}
@mixin h-gradient($back-color){
	@include filter-gradient(#570000, #000000, horizontal); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(left, rgba(0,0,0,0.28) 0%,rgba(0,0,0,0.22) 5%,rgba(0,0,0,0.15) 23%,rgba(0,0,0,0) 77%,rgba(0,0,0,0) 99%));
	background-color:$back-color
}
@mixin focus_styles(){
	&:focus{
		outline:2px solid #5B9DD9;
		//outline:1px dotted #000;
	}
}
@mixin skew($color:$t-white,$deg:-15deg){
	&:before{
		content:'';
		position:absolute;
		display:block;
		float:left;
		width:100%;
		height:100%;
		left:0;
		top:0;
		background:$color;
		-webkit-transform:skew($deg);
		-ms-transform:skew($deg);
		transform:skew($deg);
		z-index:-1;
	}
}
//@include calc('width','100% - 75px','170px');
@mixin calc($prop,$value,$fallback:100%){
	#{$prop}:#{$fallback};
	#{$prop}:-webkit-calc(#{$value});
	#{$prop}:calc(#{$value});
}

@mixin placeholder {
	&::-webkit-input-placeholder	{@content}
	&:-moz-placeholder			{@content}
	&::-moz-placeholder			{@content}
	&:-ms-input-placeholder		{@content}  
}