$grid-margin:20px;
$grid-break:$tab;
$vert-height:400px;

.c-grid{
	/* _p_grid.scss */
	margin-bottom:20px;
	> div{
		height:#{$vert-height * 0.5};
		margin-bottom:20px;
		@include breakpoint($grid-break){
			margin:0 #{$grid-margin * 0.5} #{$grid-margin};
			overflow:hidden;
		}
		.p-promo{
			height:100%;
			a{
				height:100%;
				.item{
					height:100%;
				}
			}
		}
	}
	&.two,&.four{
		>div{
			@include breakpoint($grid-break){
				@include calc('width','50% - #{$grid-margin}',50%);
				&:nth-of-type(2n+1){
					margin-left:0;
				}
				&:nth-of-type(2n){
					margin-right:0;
				}
			}
		}
	}
	&.three{
		>div{
			@include breakpoint($grid-break){
				&:nth-of-type(1){
					@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
					margin-left:0;
				}
				&:nth-of-type(2){
					@include calc('width','33.3333% - #{$grid-margin}',33.3333%);
					margin-right:#{$grid-margin * 0.5};
				}
				&:nth-of-type(3){
					@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
					margin-right:0;
				}
			}
		}
	}
	&.horizontal{
		&.three{
			> div{
				@include breakpoint($grid-break){
					height:#{$vert-height + $grid-margin};
					@include calc('width','50% - #{$grid-margin/2}',50%);
					&:nth-of-type(3n-2){
						margin-left:0;
					}
					&:nth-of-type(3n-1){
						height:#{$vert-height * 0.5};
						margin-right:0;
						margin-bottom:#{$grid-margin};
					}
					&:nth-of-type(3n){
						height:#{$vert-height * 0.5};
						margin-right:0;
					}
				}
			}
			&.right{
				>div{
					@include breakpoint($grid-break){
						&:nth-of-type(3n-2){
							height:#{$vert-height * 0.5};
							margin-left:0;
							margin-bottom:#{$grid-margin};
						}
						&:nth-of-type(3n-1){
							margin-right:0;
							float:right;
							height:#{$vert-height + $grid-margin};
						}
						&:nth-of-type(3n){
							height:#{$vert-height * 0.5};
							margin-left:0;
							margin-right:#{$grid-margin * 0.5};
						}
					}
				}
			}
		}
	}
	&.vertical{
		&.three{
			> div{
				@include breakpoint($grid-break){
					@include calc('width','50% - #{$grid-margin/2}',50%);
					height:#{$vert-height * 0.5};
					&:nth-of-type(3n-2){
						width:100%;
						margin:0 0 #{$grid-margin * 0.5} 0;
					}
					&:nth-of-type(3n-1){
						margin-top:#{$grid-margin * 0.5};
						margin-left:0;
					}
					&:nth-of-type(3n){
						margin-top:#{$grid-margin * 0.5};
						margin-right:0;
					}
				}
			}
		}
		&.five{
			> div{
				@include breakpoint($grid-break){
					@include calc('width','50% - #{$grid-margin/2}',50%);
					&:nth-of-type(5n-4){
						margin-left:0;
						margin-bottom:#{$grid-margin * 0.5};
					}
					&:nth-of-type(5n-3){
						margin-right:0;
						margin-bottom:#{$grid-margin * 0.5};
					}
					&:nth-of-type(5n-2){
						@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
						margin-left:0;
						margin-top:#{$grid-margin * 0.5};
						height:#{$vert-height * 0.5};
					}
					&:nth-of-type(5n-1){
						@include calc('width','33.3333% - #{$grid-margin}',33.3333%);
						margin-top:#{$grid-margin * 0.5};
						height:#{$vert-height * 0.5};
					}
					&:nth-of-type(5n){
						@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
						margin-right:0;
						margin-top:#{$grid-margin * 0.5};
						height:#{$vert-height * 0.5};
					}
				}
			}
		}
		&.six{
			> div{
				@include breakpoint($grid-break){
					width:33.3333%;
					&:nth-of-type(3n-2){
						margin-left:0;
					}
					&:nth-of-type(3n){
						margin-right:0;
					}
				}
			}
		}
	}
	&.offset{
		> div{
			@include breakpoint($grid-break){
				@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
			}
		}
		&.two{
			> div{
				&:nth-of-type(2n){
					@include breakpoint($grid-break){
						@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
						margin-right:0;
					}
				}
			}
			&.right{
				> div{
					@include breakpoint($grid-break){
						@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
						&:nth-of-type(2n-1){
							@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
						}
					}
				}
			}
		}
		&.four{
			> div{
				@include breakpoint($grid-break){
					@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
					margin-left:0;
					&:nth-of-type(2n){
						margin-left:#{$grid-margin * 0.5};
					}
					&:nth-of-type(4n-3){
						@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
					}
					&:nth-of-type(4n-2){
						margin-right:0;
					}
					&:nth-of-type(4n){
						@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
						margin-right:0;
					}
				}
			}
			&.right{
				> div{
					@include breakpoint($grid-break){
						&:nth-of-type(4n-3){
							@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
						}
						&:nth-of-type(4n-2){
							@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
							margin-right:0;
						}
						&:nth-of-type(4n-1){
							@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
						}
						&:nth-of-type(4n){
							@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
							margin-right:0;
						}
					}
				}
			}
		}
		&.five{
			> div{
				@include breakpoint($grid-break){
					@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
					&:nth-of-type(5n-4){
						@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
						margin-left:0;
					}
					&:nth-of-type(5n-3){
						margin-right:0;
					}
					&:nth-of-type(5n-2){
						margin-left:0;
					}
					&:nth-of-type(5n-1){
						margin-right:#{$grid-margin * 0.5};
						@include calc('width','33.3333% - #{$grid-margin}',33.3333%);
					}
					&:nth-of-type(5n){
						margin-right:0;
					}
				}
			}
			&.right{
				> div{
					@include breakpoint($grid-break){
						@include calc('width','33.3333% - #{$grid-margin/2}',33.3333%);
						&:nth-of-type(5n - 3){
							@include calc('width','66.6666% - #{$grid-margin/2}',66.6666%);
						}
						&:nth-of-type(5n-1){
							@include calc('width','33.3333% - #{$grid-margin}',33.3333%);
						}
					}
				}
			}
		}
	}
}