body.nav-plus{
	.l-head{
		nav{
			>ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				font-size: 0;
				text-align: left;
				display:block;
				width:auto;
				>li{
					&.hidden {
						display: none;
					}
					display: inline-block;
					position: relative;
					margin:0;
					width:auto;
					padding:0;
					a{
						display: block;
						color: $white;
						text-align: center;
						text-decoration: none;
						padding: 5px 10px;
						+ ul {
							display: none;
							position: absolute;
							top: 100%;
							right: 0;
							margin-right: 0;
							padding:0;
							li {
								margin:0;
								padding:0;
								width:auto;
								float:right;
								background:$dk-gray;
								a {
									padding-left: 16px;
									text-align: left;
									white-space: nowrap;
								}
							}
						}
					}
					&:hover {
						> a {
							background: $color-2;
						}
						ul {
							display: block;
							z-index:2;
							list-style-type:none;
						}
					}
					&.more{
						> a{
							font-size:11px;
							line-height:11px;
							width:75px;
							background:$t-white;
						}
					}
				}
			}
			&.gateway-menu{
				width:65%;
				> ul{
					> li{
						a{
							+ ul{
								li{
									float:left;
								}
							}
						}
					}
				}
			}
			&.utility-menu{
				width:35%;
				> ul{
					float:right;
				}
			}
		}
		.main-nav-container{
			display:block;
		}
	}
}