
.wrapper{
	position:relative;
	overflow:hidden;
	> img{
		width:auto;
		min-width:100%;
		z-index:-1;
		min-height:100%;
	}
	&.overlay-cta{
		overflow:visible;
	}
}
.l-region{
	img{
		max-width:100%;
	}
}
.banner{
	img{
		width:100%;
	}
}
.column{
	padding:0 20px;
	@include breakpoint($tab){
		max-width:$maxwidth;
		margin:auto;
		float:none;
	}
	@include breakpoint($desk){
		position:relative;
	}
}
.twocolumns{
	width:50%;
	padding-right:20px;
}
blockquote{
	@include font('lobster',36,$color-1);
	padding:0 10px;
	margin-bottom:15px;
	&:before{
		content:'\201C';
		color:$color-2;
		font-size:1.3em;
		line-height:0.7em;
		padding-right:5px;
	}
	&:after{
		content:'\201D';
		color:$color-2;
		font-size:1.3em;
		line-height:0.7em;
		padding-left:5px;
	}
}

#breadcrumb{
	max-width:$maxwidth;
	margin:auto;
	float:none;
	padding:0 20px;
}
body{
	.l-page{
		overflow-x:hidden;
		min-height:100vh;
	}
	footer{
		background: black;
		border-top:7px solid rgba(0, 0, 0, 0.15);
		.column{
			h3{
				@include font('lobster',18,$color-2);
				padding: 20px;
				text-align: center;
				text-transform:uppercase;
				margin:20px 0 0;
				@include breakpoint($tab){
					margin:0 0 10px;
					padding: 0;
					text-align: left;
				}
			}
			.footer{
				.social{
					margin:auto;
					ul{
						display:table;
						width:auto;
						margin:auto;
						@include breakpoint($tab){
							float:left;
						}
						li{
							display:table-cell;
							width:auto;
							padding:10px;
							@include breakpoint($tab){
								padding:0px 10px 10px 0;
							}
							a{
								span{
									color:$gray;
									span{
										text-indent:-9999px;
										display:inline-block;
									}
								}
							}
						}
					}
					> a{
						@include font('lora',18,$white);
						text-align:center;
						@include breakpoint($tab){
							font-size:10px;
							line-height:14px;
							position: absolute;
							width:auto;
							margin: 16px 0 0 70px;
							@include arrowafter($white,14px,"\f101");
							position:absolute;
						}
					}
					h3{
						padding:0;
						border-bottom:0;
						margin:10px 0 0;
						@include breakpoint($tab){
							border-bottom: 1px solid $color-2;
						}
					}
				}
				.links-resources {
					padding-bottom:100px;
					@include breakpoint($tab){
						padding:0;
					}
					ul{
						li{
							a{
								@include font('lora',14,$gray);
								text-align:center;
								@include breakpoint($tab){
									text-align:left;
								}
							}
							&:last-child{
								a{
									border:none;
								}
							}
						}
						hr{
							display:block;
							width:34px;
							border:none;
							border-bottom:1px solid $t-white;
							text-align:center;
							@include breakpoint($tab){
								display:none;
							}
						}
					}
					h3{
						padding:0;
						border-bottom:0;
						@include breakpoint($tab){
							border-bottom: 1px solid $color-2;
						}
					}
				}
			}
		}
	}
}