
.wrapper{
	position:relative;
	overflow:hidden;
	> img{
		width:auto;
		min-width:100%;
		z-index:-1;
		min-height:100%;
	}
	&.overlay-cta{
		overflow:visible;
	}
}
.l-region{
	img{
		max-width:100%;
	}
}
.banner{
	img{
		width:100%;
	}
}
.column{
	padding:0 20px;
	@include breakpoint($tab){
		max-width:$maxwidth;
		margin:auto;
		float:none;
	}
	@include breakpoint($desk){
		position:relative;
	}
}
.twocolumns{
	width:50%;
	padding-right:20px;
}
blockquote{
	@include font('lobster',36,$color-1);
	padding:0 10px;
	margin-bottom:15px;
	&:before{
		content:'\201C';
		color:$color-2;
		font-size:1.3em;
		line-height:0.7em;
		padding-right:5px;
	}
	&:after{
		content:'\201D';
		color:$color-2;
		font-size:1.3em;
		line-height:0.7em;
		padding-left:5px;
	}
}

#breadcrumb{
	max-width:$maxwidth;
	margin:auto;
	float:none;
	padding:0 20px;
}
body{
	.l-page{
		overflow-x:hidden;
		min-height:100vh;
	}
	footer{
		background: black;
		border-top:7px solid rgba(0, 0, 0, 0.15);
		.column{
			h3{
				@include font('lobster',18,$color-2);
				padding: 20px;
				text-align: center;
				text-transform:uppercase;
				margin:20px 0 0;
				@include breakpoint($tab){
					margin:0 0 10px;
					padding: 0;
					text-align: left;
				}
			}
			.footer{
				.p-promo{
					color:$white;
					h4{
						color:$white;
					}
					ul{
						list-style:none;
						padding:0;
						margin:0;
						li{
							padding:0;
							margin:0;
							a{
								display:inline-block;
								width:auto;
								color:$white;
							}
							span{
								display:inline-block;
								width:auto;
								color:$white;
								padding-right:10px;
								width:25px;
								text-align:center;
							}
							p{
								color:$white;
								margin:0;
							}
						}
					}
					.city{
						margin-left:25px;
					}
				}
			}
		}
	}
}