
/* _accordion.scss */
$tabacc_breakpoint:$tab;
$tabacc_font:"bebas";
//inactive tab background, active accordion background & content border
$tabacc_inactive_tab:$color-2;
//active tab background & content border, inactive font. inactive accordion background
$tabacc_active_tab:$color-1;
//active tab color, inactive accordion color, space between tabs
$tabacc_tab_color:$white;

ul.tabaccordion{
	float:left;
	position:relative;
	margin-bottom:20px;
	> li{
		position:static;
		@include breakpoint($tabacc_breakpoint){
			display:inline;
			float:left;
			width:auto;
		}
		h3{
			@include font($tabacc_font,20,$tabacc_tab_color);
			background:$tabacc_active_tab;
			text-transform:uppercase;
			cursor:pointer;
			outline:none;
			margin:0;
			border-top:2px solid $tabacc_tab_color;
			border-bottom:0;
			padding:10px 20px;
			@include arrowdown(inherit,12px,"\f0da");
			&:after{
				right:20px;
				font-size:20px;
				@include calc('top','50% - 12px','50%');
			}
			@include breakpoint($tabacc_breakpoint){
				padding:20px;
				display:inline-block;
				float:left;
				width:100%;
				border-top:0;
				border-right:2px solid #fff;
				color:$tabacc_active_tab;
				background:$tabacc_inactive_tab;
				&:after{
					content:'';
				}
			}
		}
		> div{
			display:none;
			@include breakpoint($tabacc_breakpoint){
				position:absolute;
				top:68px;
				left:0;
			}
		}
		&.acc-active{
			@include breakpoint(max-width $tabacc_breakpoint){
				h3{
					background:$tabacc_inactive_tab;
					color:$tabacc_active_tab;
					&:after{
						-webkit-transform:rotateZ(-90deg);
						-ms-transform:rotateZ(-90deg);
						transform:rotateZ(-90deg);
					}
				}
				> div{
					display:inline-block;
					padding:20px;
					width:auto;
					border:2px solid $tabacc_inactive_tab;
					margin-top:-2px;
				}
			}
		}
		&.tab-active{
			@include breakpoint($tabacc_breakpoint){
				h3{
					background:$tabacc_active_tab;
					color:$tabacc_tab_color;
					&:after{
						-webkit-transform:rotateZ(-90deg);
						-ms-transform:rotateZ(-90deg);
						transform:rotateZ(-90deg);
					}
				}
				> div{
					display:inline-block;
					padding:0 20px;
					width:auto;
					border:2px solid $tabacc_active_tab;
					margin-top:-2px;
				}
			}
		}
	}
}
.accordion{
	margin-bottom:20px;
	h3{
		padding:10px 20px;
		@include font($tabacc_font,20,$tabacc_tab_color);
		text-transform:uppercase;
		background:$tabacc_active_tab;
		border-bottom:2px solid $tabacc_tab_color;
		cursor:pointer;
		outline:none;
		margin:0;
		&.active{
			background:$tabacc_inactive_tab;
			color:$tabacc_active_tab;
			&:after{
				-webkit-transform:rotateZ(-90deg);
				-ms-transform:rotateZ(-90deg);
				transform:rotateZ(-90deg);
			}
		}
		@include arrowdown(inherit,12px,"\f0da");
		&:after{
			right:20px;
			font-size:20px;
			top:calc(50% - 12px);
		}
	}
	> div{
		display:none;
		float:left;
		width:100%;
		padding:0 20px;
		border:1px solid $tabacc_active_tab;
		border-top:0;
		margin-bottom:2px;
		overflow:hidden;
		&.open{
			display:inline-block;
		}
	}
}