
/* _alert.scss */
$emergency_alert_color:$red;
$weather_alert_color:$blue;
$alert_toggle_color:$color-2;
$alert_text_color:$white;

.alert{
	@include floatblock();
	overflow:visible;
	.toggle{
		height:55px;
		padding:15px 20px;
		cursor:pointer;
		max-width:$maxwidth;
		margin:auto;
		h3{
			@include font('f-dm',22,$alert_toggle_color);
			text-transform:uppercase;
			@include floatblock(left,calc(100% - 60px));
			border:none;
			margin:0;
		}
		span{
			@include font('paradoxbold',26,$alert_toggle_color);
			line-height:26px;
			text-transform:uppercase;
			@include floatblock(left,60px);
			&:after{
				content:'\f057';
				font-family:FontAwesome;
				-webkit-transform:rotateZ(180deg);
				-ms-transform:rotateZ(180deg);
				transform:rotateZ(180deg);
				transition:all .3s;
				display:block;
				position:relative;
				text-align:center;
				width:26px;
				height:26px;
				border-radius:50%;
				margin:0 auto;
			}
		}
	}
	.message{
		background:$emergency_alert_color;
		position:relative;
		z-index:11;
		padding:20px;
		.column{
			.message{
				padding:0;
				@include breakpoint($tab){
					padding:0 20px;
					width:calc(100% - 200px);
				}
				h2{
					@include font('paradox',32,$alert_text_color);
				}
				p{
					@include font('f-bk',18,$alert_text_color);
					position:relative;
				}
			}
			.contact{
				@include breakpoint($tab){
					width:200px;
				}
				h2{
					@include font('paradox',32,$alert_text_color);
				}
				ul{
					li{
						@include font('f-bk',18,$alert_text_color);
					}
				}
			}
		}
		a{
			@include font('paradoxbold',16,$alert_text_color);
			@include arrowafter($alert_text_color);
			width:auto;
			position:relative;
			padding:10px 0 10px 20px;
		}
	}
	&.closed{
		.message{
			display:none;
		}
		.toggle{
			span{
				&:after{
				-webkit-transform:rotateZ(45deg);
				-ms-transform:rotateZ(45deg);
				transform:rotateZ(45deg);
				}
			}
		}
	}
	&.emergency{
		background:$emergency_alert_color;
	}
	&.weather{
		background:$weather_alert_color;
	}
}