/* _dropdown.scss */
.drop-container{
	padding:20px 0 0 0;
	position:relative;
	@include breakpoint($tab){
		padding:0 10px 0 0;
	}
	.drop-toggle{
		@include font('bebas',20,$c-default);
		width:auto;
		@include arrowdown(inherit,12px,"\f0da");
		border:1px solid $color-1;
		outline:none;
		padding:15px 30px 15px 20px;
		cursor:pointer;
		text-transform:uppercase;
		&:after{
			@include calc('top','50% - 12px','50%');
			font-size:16px;
		}
	}
	.drop-item{
		display:none;
		z-index:2;
		background:$white;
		border:1px solid $color-2;
		> div{
			width:auto;
		}
	}
	&.open{
		.drop-toggle{
			&:after{
				-webkit-transform:rotateZ(-90deg);
				-ms-transform:rotateZ(-90deg);
				transform:rotateZ(-90deg);
			}
		}
		.drop-item{
			display:block;
			position:relative;
			top:100%;
			@include breakpoint($tab){
				position:absolute;
			}
		}
	}
	&.light{
		.drop-toggle{
			color:$color-1;
			background:#eee;
			border-color:$color-1;
		}
	}
	&.dark{
		.drop-toggle{
			color:$white;
			background:$color-1;
			border-color:$color-1;
		}
		&.open{
			.drop-toggle{
				background:$color-2;
				border-color:$color-2;
				color:$color-1;
			}
		}
	}
	&.mobile{
		padding:0;
		width:100%;
		.drop-toggle{
			padding:12px 30px 12px 20px;
			width:100%;
			position:relative;
			@include breakpoint($desk){
				display:none;
			}
		}
		.drop-item{
			background:none;
			border:none;
			@include breakpoint($desk){
				display:block;
				position:relative;
			}
		}
	}
}