$grid-padding:20px;
$grid-break:$tab;
$vert-height:300px;

.c-grid{
	margin-bottom:20px;
	> div{
		@include breakpoint($grid-break){
			padding:0 #{$grid-padding * 0.5} #{$grid-padding};
			overflow:hidden;
			height:$vert-height;
		}
	}
	&.two,&.four{
		>div{
			@include breakpoint($grid-break){
				width:50%;
				&:nth-child(2n+1){
					padding-left:0;
				}
				&:nth-child(2n){
					padding-right:0;
				}
			}
		}
	}
	&.three{}
	&.four{}
	&.five{}
	&.six{}
	&.horizontal{
		&.two{}
		&.three{
			> div{
				@include breakpoint($grid-break){
					width:50%;
					height:$vert-height;
					&:nth-child(3n-2){
						padding-left:0;
					}
					&:nth-child(3n-1){
						height:#{$vert-height * 0.5};
						padding-right:0;
						padding-bottom:#{$grid-padding * 0.5};
					}
					&:nth-child(3n){
						height:#{$vert-height * 0.5};
						padding-top:#{$grid-padding * 0.5};
						padding-right:0;
					}
				}
			}
			&.right{
				>div{
					&:nth-child(3n-2){
						height:#{$vert-height * 0.5};
						padding-left:0;
						padding-bottom:#{$grid-padding * 0.5};
					}
					&:nth-child(3n-1){
						padding-right:0;
						float:right;
					}
				}
			}
		}
		&.four{}
		&.five{}
		&.six{}
	}
	&.vertical{
		&.two{}
		&.three{
			> div{
				@include breakpoint($grid-break){
					width:50%;
					height:#{$vert-height * 0.5};
					&:nth-child(3n-2){
						width:100%;
						padding:0;
						padding-right:0;
						padding-bottom:#{$grid-padding * 0.5};
						padding-left:0;
					}
					&:nth-child(3n-1){
						padding-top:#{$grid-padding * 0.5};
						padding-left:0;
					}
					&:nth-child(3n){
						padding-top:#{$grid-padding * 0.5};
						padding-right:0;
					}
				}
			}
		}
		&.four{}
		&.five{
			> div{
				@include breakpoint($grid-break){
					width:50%;
					&:nth-child(5n-4){
						padding-left:0;
						padding-bottom:#{$grid-padding * 0.5};
					}
					&:nth-child(5n-3){
						padding-right:0;
						padding-bottom:#{$grid-padding * 0.5};
					}
					&:nth-child(5n-2){
						width:33.3333%;
						padding-left:0;
						padding-top:#{$grid-padding * 0.5};
						height:#{$vert-height * 0.5};
					}
					&:nth-child(5n-1){
						width:33.3333%;
						padding-top:#{$grid-padding * 0.5};
						height:#{$vert-height * 0.5};
					}
					&:nth-child(5n){
						width:33.3333%;
						padding-right:0;
						padding-top:#{$grid-padding * 0.5};
						height:#{$vert-height * 0.5};
					}
				}
			}
		}
		&.six{
			> div{
				@include breakpoint($grid-break){
					width:33.3333%;
					&:nth-child(3n-2){
						padding-left:0;
					}
					&:nth-child(3n){
						padding-right:0;
					}
				}
			}
		}
	}
	&.offset{
		> div{
			@include breakpoint($grid-break){
				width:33.3333%;
				&:nth-child(2n){
					width:66.6666%;
					padding-right:0;
				}
			}
		}
		&.two{
			&.right{
				> div{
					@include breakpoint($grid-break){
						width:33.3333%;
						&:nth-child(2n-1){
							width:66.6666%;
						}
					}
				}
			}
		}
		&.three{
			>div{
				@include breakpoint($grid-break){
					&:nth-child(2n){
						width:33.3333%;
						padding-right:#{$grid-padding * 0.5};
					}
					&:nth-child(3n){
						padding-right:0;
					}
				}
			}
		}
		&.four{
			> div{
				@include breakpoint($grid-break){
					width:33.3333%;
					padding-left:0;
					&:nth-child(2n){
						padding-left:#{$grid-padding * 0.5};
					}
					&:nth-child(4n-3){
						width:66.6666%;
					}
					&:nth-child(4n-2){
						padding-right:0;
					}
					&:nth-child(4n){
						width:66.6666%;
						padding-right:0;
					}
				}
			}
			&.right{
				> div{
					@include breakpoint($grid-break){
						&:nth-child(4n-3){
							width:33.3333%;
						}
						&:nth-child(4n-2){
							width:66.6666%;
							padding-right:0;
						}
						&:nth-child(4n-1){
							width:66.6666%;
						}
						&:nth-child(4n){
							width:33.3333%;
							padding-right:0;
						}
					}
				}
			}
		}
		&.five{
			> div{
				@include breakpoint($grid-break){
					width:33.3333%;
					&:nth-child(1){
						width:66.6666%;
					}
				}
			}
			&.right{
				> div{
					@include breakpoint($grid-break){
						width:33.3333%;
						&:nth-child(2){
							width:66.6666%;
						}
					}
				}
			}
		}
		&.six{}
	}
}