.main-nav-container{
	background: white;
	display:none;
	@include breakpoint($tab){
		display:block;
		background:inherit;
		overflow:visible;
	}
	.nav-wrapper{
		background: white;
		border-bottom:1px solid $color-2;
		overflow:visible;
		@include breakpoint(max-width $tab){
			background:none;
		}
		@include breakpoint(max-width $tab){
			position:relative;
		}
		.column{
			position:relative;
			top:1px;
			padding:0;
			> .desk-sticky{
				width:0;
				display:none;
			}
			.main-nav{
				@include breakpoint($tab){
					display:table;
				}
				li{
					border-bottom:1px solid $color-1;
					@include breakpoint($tab){
						display:table-cell;
						width:auto;
						float:none;
						border-top:none;
						border-bottom:1px solid $color-2;
					}
					a{
						@include font('f-dm',14px,$color-1);
						text-transform:uppercase;
						text-align:left;
						padding: 10px 20px;
						@include breakpoint($tab){
							text-align:center;
							padding:10px 5px;
							font-size:16px;
						}
						span{
							@include font('paradoxbold',16px,$white);
							text-transform:uppercase;
							font-style:initial;
						}
					}
					&.active,
					&.h-active,
					&:hover,
					&:focus{
						@include breakpoint($tab){
							border-bottom:1px solid $dk-gray;
						}
						a{
							text-decoration:none;
							span{
								color:$color-2
							}
						}
					}
					&:first-child{
						a{
							@include breakpoint($tab){
								border-left:1px solid $t-white;
							}
						}
					}
				}
			}
			.menu-toggle{
				@include breakpoint($tab){
					display:none;
				}
			}
		}
	}
}