.news_article{
	padding:0 0 20px 0;
	border-bottom:1px solid $gray;
	margin-bottom:20px;
	img{
		display:block;
		@include breakpoint($tab){
			@include calc('width','200px','25%');
			padding-right:20px;
		}
	}
	.container{
		@include breakpoint($tab){
			@include calc('width','100% - 200px','75%');
		}
		h5{
			padding:0;
		}
		h2{}
		&.fullwidth{
			width:100%;
		}
	}
	&.normal{}
	&.short{
		display:table;
		a{
			display:table;
		}
		img{
			float:none;
			display:table-cell;
			vertical-align:middle;
		}
		.container{
			float:none;
			display:table-cell;
			vertical-align:middle;
			p{
				display:none;
			}
			a.read-more{
				display:none;
			}
		}
	}
}