.factoid{
	.factoid-container{
		@include font('f-bk',16px,$color-1);
		float:none;
		width:220px;
		margin:auto;
		text-align:center;
		padding:30px 20px 40px;
		max-width:100%;
		text-transform:uppercase;
		@include breakpoint($desk){
			width:300px;
		}
		span{
			@include font('f-bkcd',78px,$color-1);
			text-transform:none;
			span{
				font-size:40px;
				line-height:40px;
				width:auto;
				float:none;
				display:inline;
			}
		}
		hr{
			width:50px;
			margin:20px auto;
			border:none;
			border-bottom:1px solid $t-white;
		}
	}
}