.factoid{
	@include floatblock();
	.container{
		@include f-bk(16px,$dk-blue);
		@include floatblock(none,220px);
		margin:auto;
		text-align:center;
		padding:30px 20px 40px;
		max-width:100%;
		text-transform:uppercase;
		@include breakpoint($tab,true){}
		@include breakpoint($desk,true){
			width:300px;
		}
		span{
			@include f-bkcd(78px,$dk-blue);
			@include floatblock();
			text-transform:none;
			span{
				font-size:40px;
				line-height:40px;
				width:auto;
				float:none;
				display:inline;
			}
		}
		hr{
			width:50px;
			margin:20px auto;
			border:none;
			border-bottom:1px solid $t-white;
		}
	}
}