.p-list{
	@include floatblock();
	ul{
		@include floatblock();
		list-style-type:disc;
		padding:0 10px;
		li{
			display:list-item;
			float:left;
			width:calc(100% - 15px);
			margin:0 0 0 15px;
			padding:3px 0;
			a{
				@include f-bk(18px,$dk-blue);
				@include floatblock(none,100%);
				&:hover{}
			}
		}
	}
	ol{
		@include floatblock();
		padding:10px;
		list-style-type:decimal;
		li{
			display:list-item;
			float:left;
			width:100%;
			margin:0 0 0 15px;
			padding:3px 0;
			a{
				@include f-bk(18px,$dk-blue);
				@include floatblock(none,100%);
				&:hover{}
			}
		}
	}
}