.p-list{
	ul,
	ol{
		list-style-type:disc;
		padding:0 10px;
		li{
			display:list-item;
			float:left;
			@include calc('width','100% - 15px','100%');
			margin:0 0 0 15px;
			padding:3px 0;
			a{
				@include f-bk(16px,$color-1);
			}
		}
	}
	ol{
		list-style-type:decimal;
	}
}