.p-list{
	ul,
	ol{
		list-style-type:disc;
		padding:0 10px;
		li{
			display:list-item;
			float:left;
			@include calc('width','100% - 15px','100%');
			margin:0 0 0 15px;
			padding:3px 0;
		}
	}
	ol{
		list-style-type:decimal;
	}
	&.nodisc{
		ul{
			list-style-type:none;
			padding:0;
			li{
				margin:0;
			}
		}
	}
	&.carot{
		>ul {
			> li{
				list-style-type:none;
				padding-left:0;
				&:before{
					content:$fa-chevron-right;
					font-family:FontAwesome;
					color:$color-1;
					display:inline-block;
					width:1.2em;
					margin-left:-1.2em;
					font-size:12px;
				}
			}
		}
	}
}