a{
	&.button{
		@include font('f-bk',16px,$color-1);
		background:#eee;
		padding: 15px 25px;
		border:1px solid $gray;
		border-radius:3px;
		text-transform:uppercase;
		&.dark{
			background:$color-1;
			color:$white;
			font-weight:bold;
		}
		&.light{
			background:$color-2;
			color:$color-1;
			font-weight:bold;
		}
	}
	&.read-more{
		@include font('bebas',16px,$color-1);
		float:right;
		width:auto;
		@include arrowafter(inherit,inherit,$fa-caret-right);
		padding-right:20px;
		z-index:2;
		padding-bottom:10px;
		&:after{
			right:10px;
		}
		&.button{
			color:$white;
			width:auto;
			float:left;
			padding-right:35px;
		}
	}
}