
$primary_font_family:'open_sans';
$primary_font_color:$color-1;
$secondary_font_family:''open_sans_bold'';
$secondary_font_color:$color-2;

.main-nav-container{
	/* _p_main_nav.scss */
	display:none;
	@include breakpoint($tab){
		display:block;
		background:inherit;
		overflow:visible;
	}
	.nav-wrapper{
		overflow:visible;
		@include breakpoint(max-width $tab){
			background:none;
		}
		@include breakpoint(max-width $tab){
			position:relative;
		}
		> div{
			position:relative;
			top:1px;
			padding:0;
			> .desk-sticky{
				width:0;
				display:none;
			}
			.main-nav{
				margin-bottom:0;
				@include breakpoint($tab){
					display:table;
				}
				li{
					@include breakpoint($tab){
						display:table-cell;
						width:auto;
						float:none;
						border-top:none;
					}
					@include breakpoint($desk){
						@include sibling_count_prop('li');
						float:left;
					}
					a{
						@include font($primary_font_family,14,$secondary_font_color);
						text-transform:uppercase;
						text-align:left;
						padding: 10px 20px;
						width:100%;
						@include breakpoint($tab){
							text-align:center;
							padding:10px 5px;
							font-size:16px;
						}
						span{
							@include font($secondary_font_family,16,$secondary_font_color);
							text-transform:uppercase;
							font-style:initial;
						}
					}
					&.active,
					&.h-active,
					&:hover,
					&:focus{
						@include breakpoint($tab){
							border-bottom:1px solid $secondary_font_color;
						}
						a{
							text-decoration:none;
							span{
								color:$secondary_font_color;
							}
						}
					}
					&:first-child{
						a{
							@include breakpoint($tab){
								border-left:1px solid $t-white;
							}
						}
					}
				}
			}
			.menu-toggle{
				@include breakpoint($tab){
					display:none;
				}
			}
		}
	}
}