.news_article{
	/* _p_news.scss */
	padding:0 0 20px 0;
	border-bottom:1px solid $gray;
	margin-bottom:20px;
	position:relative;
	.categories,.cat{
		position:absolute;
		top: 0;
		z-index: 1;
		list-style:none;
		li{
			display:block;
			float:left;
			width:auto;
			margin:0 10px 0 0;
		}
	}
	img{
		display:block;
		@include breakpoint($tab){
			@include calc('width','200px','25%');
			padding-right:20px;
		}
	}
	.news-container{
		@include breakpoint($tab){
			@include calc('width','100% - 200px','75%');
		}
		h5{
			padding:0;
		}
		h2{}
		&.fullwidth{
			width:100%;
		}
	}
	.label{
		width: auto;
		margin:10px;
		padding:3px 10px;
		border-radius:10px;
		background:$dk-gray;
		color:$white;
	}
	&.normal{
		.categories,.cat{
			position:relative;
			.cat{
				margin:10px 0;
			}
		}
	}
	&.short{
		display:table;
		a{
			display:table;
		}
		img{
			float:none;
			display:table-cell;
			vertical-align:middle;
		}
		.container{
			float:none;
			display:table-cell;
			vertical-align:middle;
			p{
				display:none;
			}
			a.read-more{
				display:none;
			}
		}
	}
}