.p-promo{
	display:table;
	float:left;
	width:100%;
	margin-bottom:20px;
	&.overlay{
		position:relative;
		padding:20px 0;
		@include breakpoint($tab,true){
			padding: 0;
		}
		a{
			@include floatblock();
			position:relative;
			overflow:hidden;
			@include breakpoint($tab,true){}
		}
		img{
			@include floatblock();
			position:relative;
		}
		.tag{
			h3{
				@include bebas(30px,$dk-blue);
				line-height:48px;
				position: absolute;
				background: $gold;
				width: auto;
				padding: 0px 20px;
				text-transform: uppercase;
				box-shadow:1px 2px 3px rgba(0,0,0,0.5);
				border:none;
				margin:20px 0;
				@include breakpoint($tab){
					font-size:36px;
				}
				&:after{
					content: '';
					position: absolute;
					border: 0px solid $gold;
					border-right-color: transparent;
					bottom: 0px;
					right: -12px;
					border-width: 24px;
					border-right-width: 12px;
					border-left-width: 0;
				}
			}
		}
		.container{
			@include floatblock();
			bottom:0;
			background:$blue;
			position:relative;
			@include breakpoint($tab-large,true){
				background:$t-blue;
				position:absolute;
			}
			p{
				@include f-bk(16px,$white);
				padding:0 20px 20px 20px;
				height:auto;
				overflow:hidden;
				margin:0;
			}
			h2{
				@include paradoxbold(16px,$white);
				padding:20px 20px 0 20px;
				margin:0;
				border-bottom:0;
			}
			ul{
				li{
					.drop-container{
						width:100%;
						.dropdown{
							@include paradoxbold(22px,$blue);
							line-height:22px;
							width:100%;
							text-align:left;
							background:$gold;
							border:none;
							border-radius:0;
							text-transform:none;
							@include arrowdown($dk-gray);
							&:after{
								content:"\f054";
								right:5px;
								top: calc(50% - 9px);
								font-size:18px;
							}
						}
						ul{
							width:100%;
						}
						&.open{
							.dropdown{
								&:after{
									-webkit-transform:rotateZ(-90deg);
									-ms-transform:rotateZ(-90deg);
									transform:rotateZ(-90deg);
								}
							}
						}
					}
				}
			}
		}
		&.spotlight{
			padding:20px;
			@include breakpoint($tab,true){
				padding:0 20px;
			}
			.container{
				h2{
					font-size:30px;
					line-height:34px;
				}
			}
		}
	}
	&.overlayv2{
		position:relative;
		padding:20px 0;
		@include breakpoint($tab,true){
			padding: 0;
		}
		a{
			@include floatblock();
			position:relative;
			overflow:hidden;
			@include breakpoint($tab,true){}
		}
		img{
			@include floatblock();
			position:relative;
		}
		.tag{
			h3{
				@include bebas(30px,$dk-blue);
				line-height:48px;
				position: absolute;
				background: $gold;
				width: auto;
				padding: 0px 20px;
				text-transform: uppercase;
				box-shadow:1px 2px 3px rgba(0,0,0,0.5);
				border:none;
				margin:20px 0;
				@include breakpoint($tab){
					font-size:36px;
				}
				&:after{
					content: '';
					position: absolute;
					border: 0px solid $gold;
					border-right-color: transparent;
					bottom: 0px;
					right: -12px;
					border-width: 24px;
					border-right-width: 12px;
					border-left-width: 0;
				}
			}
		}
		.container{
			@include floatblock();
			bottom:0;
			background:$blue;
			position:relative;
			@include breakpoint($tab-large){
				background:$t-blue;
				position:absolute;
				bottom:75px;
				left:75px;
				@include calc('width','100% - 150px','100%');
			}
			@include breakpoint($desk){
				@include calc('width','60% - 150px','60%');
			}
			p{
				@include f-bk(16px,$white);
				padding:0 20px 20px 20px;
				height:auto;
				overflow:hidden;
				margin:0;
			}
			h2{
				@include paradoxbold(16px,$white);
				padding:20px 20px 0 20px;
				margin:0;
				border-bottom:0;
			}
			ul{
				li{
					.drop-container{
						width:100%;
						.dropdown{
							@include paradoxbold(22px,$blue);
							line-height:22px;
							width:100%;
							text-align:left;
							background:$gold;
							border:none;
							border-radius:0;
							text-transform:none;
							@include arrowdown($dk-gray);
							&:after{
								content:"\f054";
								right:5px;
								top: calc(50% - 9px);
								font-size:18px;
							}
						}
						ul{
							width:100%;
						}
						&.open{
							.dropdown{
								&:after{
									-webkit-transform:rotateZ(-90deg);
									-ms-transform:rotateZ(-90deg);
									transform:rotateZ(-90deg);
								}
							}
						}
					}
				}
			}
		}
		&.spotlight{
			padding:20px;
			@include breakpoint($tab,true){
				padding:0 20px;
			}
			.container{
				h2{
					font-size:30px;
					line-height:34px;
				}
			}
		}
	}
	&.imgtitle{
		a{
			display:table;
			table-layout:fixed;
		}
		img{
			display:table-cell;
			float:none;
		}
		h2{
			width:50%;
			float:none;
			display:table-cell;
			vertical-align:middle;
			padding-left:20px;
			@include breakpoint($tab){
				width:75%;
			}
		}
	}
	&.hovertext{
		position:relative;
		overflow:hidden;
		img{
			@include floatblock();
			border:1px solid $white;
		}
		a{
			background:$t-black;
			position:absolute;
			@include breakpoint($tab){
				background:none;
				@include v-gradient();
			}
			@include floatblock();
			padding:0;
			height:100%;
			transition:all 0.2s;
			&:hover{
				background:$t-black;
				h2{
					bottom:initial;
					top:20%;
					color:$white;
					@include breakpoint($tab){
						top:10%;
					}
					@include breakpoint($tab-large){
						top:20%;
					}
				}
				p{
					bottom:10%;
					&:after{
						content:'';
					}
				}
				@include arrowdown($white,16px);
				position:absolute;
				&:after{
					font-size:28px;
					@include calc('left','50% - 14px','50%');
					top:90%;
				}
			}
			h2{
				bottom:initial;
				@include floatblock();
				position:absolute;
				text-align:center;
				padding:0 20px;
				text-shadow:1px 1px 3px $t-black;
				border:none;
				text-transform:initial;
				transition:all 0.2s;
				top:20%;
				@include breakpoint($tab,true){
					bottom:20%;
					font-size:20px;
					line-height:26px;
					top:initial;
				}
				@include breakpoint($desk,true){
					font-size:28px;
					line-height:32px;
				}
			}
			p{
				@include s-text-book(18px,$white);
				position:absolute;
				bottom:10%;
				width:100%;
				background:none;
				text-transform:initial;
				text-shadow:1px 1px 3px $t-black;
				padding:0 20px;
				transition:all 0.2s;
				text-align:center;
				&:after{
					content:'';
				}
				@include breakpoint($tab){
					bottom:-100%;
					font-size:14px;
					line-height:18px;
				}
				@include breakpoint($tab-large){
					font-size:16px;
				}
			}
		}
	}
	&.linkimg{
		h4{
			border-bottom:1px solid $gold;
			padding-bottom:5px;
			margin-bottom:20px;
		}
		a{
			img{
				width:100%;
			}
		}
	}
	&.generic{
		padding-bottom:20px;
		border-bottom:2px solid $dk-gray;
		img{
			@include floatblock();
		}
		.container{
			@include floatblock();
			background:$white;
			h2{
				@include bebas(18px,$dk-blue);
				@include floatblock();
				border-bottom:0;
				margin-top:10px;
			}
			p{
				@include floatblock();
				font-size:16px;
				line-height:22px;
				overflow:hidden;
			}
		}
		&.right{
			img{
				@include breakpoint($tab){
					width:30%;
					padding-left:20px;
				}
				float:right;
			}
			.container{
				@include breakpoint($tab){
					width:70%;
					h2{
						margin-top:0;
					}
				}
			}
		}
		&.left{
			img{
				@include breakpoint($tab){
					width:30%;
					padding-right:20px;
				}
				float:left;
			}
			.container{
				@include breakpoint($tab){
					width:70%;
					h2{
						margin-top:0;
					}
				}
			}
		}
	}
	&.genericv2{
		img{
			display:block;
			margin:auto;
		}
		.container{
			@include floatblock();
			background:$white;
			h2{
				@include f-dm(18px,$dk-blue);
				text-transform:none;
				@include floatblock();
				margin:10px 0 0;
				border-bottom:0;
				text-align:center;
			}
			p{
				@include floatblock();
				font-size:16px;
				line-height:22px;
				overflow:hidden;
				text-align:center;
			}
		}
	}
	&.promo{
		h4{
			@include bebas(20px,$dk-blue);
			font-weight:bold;
			@include floatblock();
			margin:0;
			text-transform:initial;
		}
		hr{
			@include floatblock();
			border:none;
			border-bottom:1px solid $gold;
			position:relative;
		}
		.container{
			.intro{
				@include f-bk(16px,$c-default);
				@include floatblock();
				a{
					@include f-bk(18px,$dk-blue);
				}
			}
			> a{
				@include bebas(16px,$dk-blue);
				@include floatblock(left,auto);
				@include arrowafter($dk-blue,14px,"\f0da");
				text-transform:uppercase;
				margin:10px 0;
			}
		}
		&.dark{
			padding:10px 20px;
			background:$dk-blue;
			h4{
				color:$white;
				font-weight:normal;	
			}
			.container{
				.intro{
					color:$white;
				}
				> a{
					color:$gold;
					&:after{
						color:$gold;
					}
				}
			}
		}
		&.light{
			padding:10px 20px;
			background:$white-1;
			.container{
				h4{
					@include bebas(24px,$dk-blue);
					color:$dk-blue;
					font-weight:normal;
				}
				.intro{
					color:$c-default;
				}
				> a{
					color:$dk-blue;
					&:after{
						color:$dk-blue;
					}
				}
			}
		}
		&.wrap{
			img{
				float:left;
				padding-right:10px;
			}
			.container{
				.intro{
					display:inline;
					float:none;
				}
			}
		}
	}
	&.button{
		max-width:100%;
		margin:0 0 20px;
		transition:all .2s;
		box-shadow:0px 0px 5px $t-black-light,2px 2px 3px $t-black-light;
		a{
			position:relative;
			img{
				width:100%;
			}
			.container{
				display:table;
				float:left;
				width:100%;
				position:relative;
				background:$t-white;
				padding:5vw;
				@include breakpoint($tab,true){
					padding:15px 20px;
				}
				span{
					font-size:30px;
					display:table-cell;
					float:none;
					width:auto;
					vertical-align:middle;
					padding-right:5px;
					@include breakpoint($tab,true){
						font-size:16px;
					}
				}
				p{
					@include bebas(24px,$c-default);
					width:auto;
					margin:0;
					padding-left:10px;
					@include breakpoint($tab,true){
						font-size:24px;
						line-height:28px;
					}
				}
			}
		}
		&.light{
			a{
				.container{
					background:$gold;
					span{
						color:$dk-blue;
					}
					p{
						color:$dk-blue;
					}
				}
			}
		}
		&.dark{
			a{
				.container{
					background:$dk-blue;
					span{
						color:$white;
					}
					p{
						color:$white;
					}
				}
			}
		}
	}
	&.more-news{
		width:200px;
		margin:auto;
		float:none;
		@include breakpoint($tab){
			position:absolute;
			bottom:90px;
			left:0;
			right:0;
		}
		a{
			.container{
				p{
					text-align:center;
					float:none;
				}
			}
		}
	}
}
.l-promo-sidebar{
	.p-promo{
		&.overlay{
			a{}
			img{}
			.tag{
				h3{
					&:after{}
				}
			}
			.container{
				position:relative;
				background:$blue;
				p{}
				h2{}
				ul{
					li{
						.drop-container{
							.dropdown{
								&:after{}
							}
							ul{}
							&.open{
								.dropdown{
									&:after{}
								}
							}
						}
					}
				}
			}
			&.spotlight{
				.container{
					h2{}
				}
			}
		}
		&.imgtitle{
			a{
				display:block;
			}
			img{
				display:block;
			}
			h2{
				display:block;
				width:100%;
				padding:0;
				text-align:center;
			}
		}
		&.hovertext{
			
		}
		&.linkimg{
			h4{}
			a{
				img{}
			}
		}
		&.generic{
			.container{
				h2{
					margin-top:10px;
				}
			}
			&.left,
			&.right{
				img{
					width:100%;
					padding:0;
				}
				.container{
					width:100%;
				}
			}
		}
		&.genericv2{
			img{}
			.container{
				h2{}
				p{}
			}
		}
		&.promo{
			h4{}
			hr{}
			.container{
				.intro{
					a{}
				}
				> a{}
			}
		}
		&.textlink{
		}
		&.button{
			a{
				img{}
				.container{
					span{}
					p{}
				}
			}
		}
		&.more-news{
			a{
				.container{
					p{}
				}
			}
		}
	}
}
.l-content{
	.p-promo{
		&.overlay{
			a{}
			img{}
			.tag{
				h3{
					&:after{}
				}
			}
			.container{
				p{}
				h2{}
				ul{
					li{
						.drop-container{
							.dropdown{
								&:after{}
							}
							ul{}
							&.open{
								.dropdown{
									&:after{}
								}
							}
						}
					}
				}
			}
			&.spotlight{
				.container{
					h2{}
				}
			}
		}
		&.hovertext{
			
		}
		&.linkimg{
			h4{}
			a{
				img{}
			}
		}
		&.generic{
			&.left,
			&.right{
				img{}
				.container{}
			}
		}
		&.genericv2{
			img{
				@include breakpoint($tab){
					width:200px;
					float:left;
				}
			}
			.container{
				padding:0 20px;
				@include breakpoint($tab){
					@include calc("width","100% - 200px",100%);
				}
				h2{}
				p{}
			}
		}
		&.promo{
			h4{}
			hr{}
			img{
				@include breakpoint($tab){
					width:200px;
					float:left;
				}
			}
			.container{
				padding:0 20px;
				@include breakpoint($tab){
					@include calc("width","100% - 200px",100%);
				}
				.intro{
					a{}
				}
				> a{}
			}
		}
		&.textlink{
		}
		&.button{
			a{
				img{}
				.container{
					span{}
					p{}
				}
			}
		}
		&.more-news{
			a{
				.container{
					p{}
				}
			}
		}
	}
}