$s_s_breakpoint:$tab;
$s_s_font:"open_sans";
//inactive tab background, active accordion background & content border
$s_s_inactive_tab:$color-2;
//active tab background & content border, inactive font. inactive accordion background
$s_s_active_tab:$color-1;
//active tab color, inactive accordion color, space between tabs
$s_s_tab_color:$white;
$max:10;
$anchor-width:33.3333%;

ul.section_structure{
	/* _p_section_structure.scss */
	float:left;
	position:relative;
	margin-bottom:20px;
	> li{
		width:100%;
		float:left;
		display:table;
		> a{
			width:100%;
			display: table-cell;
			vertical-align:middle;
			position:relative;
			float:none;
			min-width:100%;
			border-top:0;
			color:$s_s_active_tab;
			background:$s_s_inactive_tab;
			text-align:center;
			text-decoration:none;
			h3{
				border:none;
				outline:0;
			}
		}
		> div{}
		&.small-active{
			> a{
				@include breakpoint(max-width $s_s_breakpoint){
					background:$s_s_active_tab;
					color:$s_s_inactive_tab;
					h3{
						color:$s_s_inactive_tab;
					}
				}
			}
			> div{}
		}
		&.large-active{
			> a{
				@include breakpoint($s_s_breakpoint){
					background:$s_s_active_tab;
					color:$s_s_inactive_tab;
					h3{
						color:$s_s_inactive_tab;
					}
				}
			}
			> div{}
		}
	}
	&.lg-tabs{
		@include breakpoint($s_s_breakpoint){
			li{
				> a{
					width:100%;
					padding:15px 20px;
					h3{
						margin:0;
					}
				}
				> div{
					display:none;
					position:absolute;
					top:68px;
					left:0;
				}
				&.small-active{
					> a{}
					> div{}
				}
				&.large-active{
					> a{}
					> div{
						display:block;
					}
				}
			}
		}
	}
	&.sm-tabs{
		@include breakpoint(max-width $s_s_breakpoint){
			li{
				> a{
					width:100%;
					padding:15px 20px;
					h3{
						margin:0;
					}
				}
				> div{
					display:none;
					position:absolute;
					top:68px;
					left:0;
				}
				&.small-active{
					a{}
					> div{
						display:block;
					}
				}
				&.large-active{
					a{}
					> div{}
				}
			}
		}
	}
	&.lg-accs{
		@include breakpoint($s_s_breakpoint){
			li{
				max-width:100%!important;
				> a{
					width:100%;
					padding:15px 20px;
					display:block;
					@include arrowdown(inherit,12,"\f0da");
					&:after{
						right:10px;
						font-size:18px;
					}
					h3{
						margin:0;
					}
				}
				> div{
					display:none;
					position:relative;
					top:0;
					left:0;
				}
				&.small-active{
					> a{}
					> div{}
				}
				&.large-active{
					> a{
						&:after{
							-moz-transform: rotateZ(-90deg);
							-ms-transform: rotateZ(-90deg);
							-webkit-transform: rotateZ(-90deg);
							transform: rotateZ(-90deg);
						}
					}
					> div{
						display:block;
						position:relative;
					}
				}
			}
		}
	}
	&.sm-accs{
		@include breakpoint(max-width $s_s_breakpoint){
			li{
				max-width:100%!important;
				> a{
					width:100%;
					padding:15px 20px;
					display:block;
					@include arrowdown(inherit,12,"\f0da");
					&:after{
						right:10px;
						font-size:18px;
					}
					h3{
						margin:0;
					}
				}
				> div{
					display:none;
					position:relative;
					top:0;
					left:0;
				}
				&.small-active{
					> a{
						&:after{
							-moz-transform: rotateZ(-90deg);
							-ms-transform: rotateZ(-90deg);
							-webkit-transform: rotateZ(-90deg);
							transform: rotateZ(-90deg);
						}
					}
					> div{
						display:block;
						position:relative;
					}
				}
				&.large-active{
					> a{}
					> div{
					}
				}
			}
		}
	}
	&.lg-anchor{
		@include breakpoint($s_s_breakpoint){
			padding-top:44px;
			>li{
				position:static;
				max-width:100%!important;
				>a{
					position:absolute;
					display:table;
					top:0;
					width:$anchor-width;
					min-width:auto;
					h3{
						display:table-cell;
						vertical-align:middle;
						padding:10px 20px;
						width:100%;
						margin:0;
					}
				}
				> div{}
				@for $i from 1 through $max {
					&:nth-child(#{$i}){
						>a{
							left:$anchor-width * ($i - 1);
						}
					}
				}
				&.large-active{
					>a{
						color:$s_s_active_tab;
						background:$s_s_inactive_tab;
						h3{
							color:$s_s_active_tab;
						}
					}
				}
			}
		}
	}
	&.sm-anchor{
		@include breakpoint(max-width $s_s_breakpoint){
			padding-top:44px;
			>li{
				position:static;
				max-width:100%!important;
				>a{
					position:absolute;
					display:table;
					top:0;
					width:$anchor-width;
					min-width:auto;
					h3{
						display:table-cell;
						vertical-align:middle;
						padding:10px 20px;
						width:100%;
						margin:0;
					}
				}
				> div{}
				@for $i from 1 through $max {
					&:nth-child(#{$i}){
						>a{
							left:$anchor-width * ($i - 1);
						}
					}
				}
				&.large-active{
					>a{
						color:$s_s_active_tab;
						background:$s_s_inactive_tab;
						h3{
							color:$s_s_active_tab;
						}
					}
				}
			}
		}
	}
}