/* _p_tabaccordion.scss */
$tabacc_breakpoint:$tab;
$tabacc_font:"open_sans";
//inactive tab background, active accordion background & content border
$tabacc_inactive_tab:$color-2;
//active tab background & content border, inactive font. inactive accordion background
$tabacc_active_tab:$color-1;
//active tab color, inactive accordion color, space between tabs
$tabacc_tab_color:$white;

ul.tabaccordion{
	float:left;
	position:relative;
	margin-bottom:20px;
	> li{
		position:static;
		@include breakpoint($tabacc_breakpoint){
			display:inline;
			float:left;
			width:auto;
			margin-right:2px;
		}
		h3{
			@include font($tabacc_font,20,$tabacc_tab_color);
			background:$tabacc_active_tab;
			text-transform:uppercase;
			cursor:pointer;
			outline:none;
			margin:2px 0 0 0;
			border-bottom:0;
			padding:10px 20px;
			@include arrowdown(inherit,12,"\f0da");
			&:after{
				right:20px;
				font-size:20px;
				@include calc('top','50% - 4px','50%');
			}
			@include breakpoint($tabacc_breakpoint){
				padding:22px;
				display:inline-block;
				float:left;
				width:100%;
				border-top:0;
				color:$tabacc_active_tab;
				background:$tabacc_inactive_tab;
				&:after{
					content:'';
				}
			}
			@include breakpoint($tab-large){
				padding:21px;
			}
			@include breakpoint($desk){
				padding:19px;
			}
			&:focus{
				@include focus_styles();
			}
		}
		> div{
			transition:height 1s ease-in-out;
			height:0;
			overflow:hidden;
			@include breakpoint($tabacc_breakpoint){
				position:absolute;
				top:68px;
				left:0;
			}
		}
		&.acc-active{
			> div{
				height:0;
			}
			@include breakpoint(max-width $tabacc_breakpoint){
				h3{
					background:$tabacc_inactive_tab;
					color:$tabacc_active_tab;
					&:after{
						-webkit-transform:rotateZ(-90deg);
						-ms-transform:rotateZ(-90deg);
						transform:rotateZ(-90deg);
					}
				}
				> div{
					height:auto;
					width:auto;
					border:2px solid $tabacc_inactive_tab;
					margin-top:-2px;
					padding:20px;
				}
			}
		}
		&.tab-active{
			@include breakpoint($tabacc_breakpoint){
				h3{
					background:$tabacc_active_tab;
					color:$tabacc_tab_color;
					&:after{
						-webkit-transform:rotateZ(-90deg);
						-ms-transform:rotateZ(-90deg);
						transform:rotateZ(-90deg);
					}
				}
				> div{
					height:auto;
					padding:0 20px;
					width:auto;
					border:2px solid $tabacc_active_tab;
					margin-top:-2px;
				}
			}
		}
	}
}