
.ui-tabs{
	margin-bottom:20px;
	.ui-tabs-nav{
		display:table;
		width:100%;
		> li{
			width:auto;
			color:$white;
			border-right:2px solid $white;
			&:last-child{
				border-right:none;
			}
			&.ui-tabs-active,
			&.ui-state-active{
				a{
					background:$color-1;
					h3{
						color:$white;
						background:$color-1;
					}
				}
			}
			&.ui-state-hover{}
			a{
				outline:none;
				text-align:center;
				line-height:50px;
				text-transform:uppercase;
				background:$color-2;
				h3{
					@include font('bebas',20,$color-1);
					line-height:20px;
					border-bottom:0;
					margin:0;
					padding:20px;
					}
			}
		}
	}
	.ui-tabs-panel{
		padding:20px;
		border:2px solid $color-1;
	}
}