$tabacc_breakpoint:$tab;
$tabacc_font:"open_sans";
//inactive tab background, active accordion background & content border
$tabacc_inactive_tab:$color-2;
//active tab background & content border, inactive font. inactive accordion background
$tabacc_active_tab:$color-1;
//active tab color, inactive accordion color, space between tabs
$tabacc_tab_color:$white;

div.tabaccordion{
	/* _p_tabaccordion.scss */
	ul{
		position:relative;
		float:left;
		> li{
			position:static;
			@include breakpoint($tabacc_breakpoint){
				width:auto;
				display:table;
			}
			h3{
				@include font($tabacc_font,20,$tabacc_tab_color);
				background:$tabacc_active_tab;
				cursor:pointer;
				outline:none;
				margin:2px 0 0 0;
				border-bottom:0;
				padding:10px 20px;
				display: inline-block;
				text-transform:none;
				@include breakpoint($tabacc_breakpoint){
					width:100%;
					display: table-cell;
					vertical-align:middle;
					position:relative;
					float:none;
					min-width:100%;
					border-top:0;
					color:$tabacc_active_tab;
					background:$tabacc_inactive_tab;
					text-align:center;
				}
				@include breakpoint($tab-large){
					padding:21px;
				}
				@include breakpoint($desk){
					padding:19px;
				}
				@include focus_styles();
			}
			> div{
				transition:height 1s ease-in-out;
				@include breakpoint($tabacc_breakpoint){
					position:absolute;
					left:0;
				}
			}
			&.acc-active{
				> div{
					height:0;
				}
				@include breakpoint(max-width $tabacc_breakpoint){
					h3{
						background:$tabacc_inactive_tab;
						color:$tabacc_active_tab;
						&:after{
							-webkit-transform:rotateZ(-90deg);
							-ms-transform:rotateZ(-90deg);
							transform:rotateZ(-90deg);
						}
					}
					> div{
						height:auto;
						width:auto;
						border:2px solid $tabacc_inactive_tab;
						margin-top:-2px;
						padding:20px;
					}
				}
			}
			&.tab-active{
				@include breakpoint($tabacc_breakpoint){
					h3{
						background:$tabacc_active_tab;
						color:$tabacc_tab_color;
						&:after{
							-webkit-transform:rotateZ(-90deg);
							-ms-transform:rotateZ(-90deg);
							transform:rotateZ(-90deg);
						}
					}
					> div{
						height:auto;
						padding:0 20px;
						width:auto;
						border:2px solid $tabacc_active_tab;
						margin-top:-2px;
					}
				}
			}
		}
	}
	&.left{
		ul{
			> li{
				@include breakpoint($tabacc_breakpoint){
					float:left;
					margin-right:2px;
				}
			}
		}
	}
	&.center{
		ul{
			> li{
				@include breakpoint($tabacc_breakpoint){
					@include sibling_count_prop('li');
					h3{
						background:none;
					}
					&.tab-active{
						h3{
							background:$tabacc_active_tab;
						}
					}
				}
			}
		}
	}
	&.right{
		ul{
			> li{
				@include breakpoint($tabacc_breakpoint){
					float:right;
					margin-left:2px;
				}
			}
		}
	}
	&.acc{
		ul{
			margin-bottom:30px;
			> li{
				h3{
					@include arrowdown(inherit,12,"\f0da");
					&:after{
						@include font-size(22,0);
						right:20px;
					}
					@include breakpoint($tabacc_breakpoint){
						&:after{
							content:'';
						}
					}
				}
				> div{
					height:0;
					overflow:hidden;
					@include breakpoint($tabacc_breakpoint){
						top:68px;
					}
				}
				&.tab-active{
					> div{
						@include breakpoint($tabacc_breakpoint){
							height:auto;
						}
					}
				}
				&.acc-active{
					h3{
						&:after{
							-webkit-transform:rotateZ(-90deg);
							-ms-transform:rotateZ(-90deg);
							transform:rotateZ(-90deg);
						}
					}
					> div{
							@include breakpoint(max-width $tabacc_breakpoint){
								height:auto;
							}
					}
				}
			}
		}
	}
	&.anchor{
		ul{
			> li{
				h3{
				}
				> div{
					@include breakpoint($tabacc_breakpoint){
						height:0;
						overflow:hidden;
					}
				}
				&.tab-active{
					> div{
						@include breakpoint($tabacc_breakpoint){
							height:auto;
						}
					}
				}
			}
			&.ta_container{
				margin-bottom:30px;
			}
		}
	}
}