.subnav{
	@include floatblock();
	padding:0 20px;
	margin-bottom:20px;
	@include breakpoint($desk,true){
		padding:0;
	}
	h2{
		@include f-dm(18px,$c-default);
		@include floatblock();
		white-space:nowrap;
		cursor:pointer;
		line-height:41px;
		text-transform:uppercase;
		background:$white-1;
		padding:0 20px;
		margin-bottom:10px;
		@include breakpoint($desk,true){
			display:none;
		}
		&:before{
			content:"\f0d7";
			font-family:FontAwesome;
			color:$c-default;
			font-size:24px;
			top:0px;
			left:-5px;
			position:relative;
			@include floatblock(left,auto);
			-webkit-transition:all 500ms;
			transition:all 500ms;
			-webkit-transform:rotateZ(0deg);
			-ms-transform:rotate(0deg);
			transform:rotateZ(0deg);
		}
	}
	.column{
		ul{
			display:none;
			li{
				@include floatblock();
				border-top:1px solid $t-white;
				line-height:0;
				&.open{
					> ul{
						display:block;
					}
					> button{
						span{
							-webkit-transform:rotateZ(-90deg);
							-ms-transform:rotateZ(-90deg);
							transform:rotateZ(-90deg);
							border-left:none;
						}
					}
				}
				&.active{
					> a{
						border-left:3px solid $dk-gold;
					}
				}
				padding:0;
			}
		}
		> ul{
			position:fixed;
			height:100%;
			top:0;
			left:0;
			background:#333;
			width:$subnav-mobile;
			overflow-y:auto;
			@include breakpoint($tab,true){
				width:$subnav-width;
			}
			h3{
				@include floatblock();
				padding:11px 20px;
				color:$white;
			}
			> a{
				@include floatblock();
				@include paradoxbold(14px,$gold);
				padding:20px;
				text-transform:uppercase;
				@include arrowbefore($white);
				&:before{
					left:10px;
					-webkit-transform:rotateZ(180deg);
					-ms-transform:rotateZ(180deg);
					transform:rotateZ(180deg);
				}
			}
			> li{
				@include floatblock();
				button{
					background:none;
					width:56px;
					height:56px;
					text-align:center;
					padding:0;
					border:none;
					outline:none;
					span{
						@include floatblock();
						font-size:21px;
						line-height:56px;
						color:$gold;
						cursor:pointer;
						height:100%;
						-webkit-transform:rotateZ(90deg);
						-ms-transform:rotateZ(90deg);
						transform:rotateZ(90deg);
						transition:transform 0.3s;
					}
				}
				a{
					@include floatblock();
					overflow:hidden;
					&.has-sub{
						width:calc(100% - 56px);
					}
					@include f-bk(16px,$gray);
					line-height:21px;
					padding:17px 20px;
				}
				ul{
					float:left;
					width:100%;
					background:rgba(128, 128, 128, 0.22);
				}
			}
		}
	}
	&.open{
		> ul{
			display:block;
		}
		h2{
			&:before{
				-webkit-transform:rotateZ(180deg);
				-ms-transform:rotate(180deg);
				transform:rotateZ(180deg);
			}
		}
	}
	> ul{
		display:none;
		@include breakpoint($desk,true){
			display:block;
		}
		li{
			a{
				display:block;
				padding:15px 0 15px 20px;
				background:$white-1;
				border-bottom:1px solid $white;
				color:#111;
			}
			ul{
				display:none;
				li{
					a{
						padding-left:30px;
						background:$white-2;
					}
					ul{
						li{
							a{
								padding-left:40px;
								background:$white-3;
							}
							ul{
								li{
									a{
										padding-left:50px;
										background:$white-4;
									}
								}
							}
						}
					}
				}
			}
			&.active-trail{
				>ul{
					display:block;
				}
			}
			&.active{
				font-weight:bold;
				li{
					font-weight:normal;
				}
			}
		}
	}
}