.subnav{
	margin-bottom:20px;
	@include breakpoint($desk){
		padding:0;
	}
	h2{
		@include font('f-dm',18px,$c-default);
		white-space:nowrap;
		cursor:pointer;
		line-height:41px;
		text-transform:uppercase;
		background:$white-1;
		padding:0 20px;
		margin-bottom:1px;
		@include breakpoint($desk){
			display:none;
		}
		&:before{
			content:"\f0d7";
			font-family:FontAwesome;
			display:block;
			float:left;
			color:$c-default;
			font-size:24px;
			top:0px;
			left:-5px;
			position:relative;
			-webkit-transition:all 500ms;
			transition:all 500ms;
			-webkit-transform:rotateZ(0deg);
			-ms-transform:rotate(0deg);
			transform:rotateZ(0deg);
		}
	}
	> div{
		ul{
			display:none;
			li{
				border-top:1px solid $t-white;
				line-height:0;
				&.open{
					> ul{
						display:block;
					}
					> button{
						span{
							-webkit-transform:rotateZ(-90deg);
							-ms-transform:rotateZ(-90deg);
							transform:rotateZ(-90deg);
							border-left:none;
						}
					}
				}
				&.active{
					> a{
						border-left:3px solid $color-2;
					}
				}
				padding:0;
			}
		}
		> ul{
			position:fixed;
			height:100%;
			top:0;
			left:0;
			background:#333;
			width:$subnav-mobile;
			overflow-y:auto;
			@include breakpoint($tab){
				width:$subnav-width;
			}
			h3{
				padding:11px 20px;
				color:$white;
			}
			> a{
				@include font('paradoxbold',14px,$color-2);
				padding:20px;
				text-transform:uppercase;
				@include arrowbefore($white);
				&:before{
					left:10px;
					-webkit-transform:rotateZ(180deg);
					-ms-transform:rotateZ(180deg);
					transform:rotateZ(180deg);
				}
			}
			> li{
				button{
					background:none;
					width:56px;
					height:56px;
					text-align:center;
					padding:0;
					border:none;
					outline:none;
					span{
						font-size:21px;
						line-height:56px;
						color:$color-2;
						cursor:pointer;
						height:100%;
						-webkit-transform:rotateZ(90deg);
						-ms-transform:rotateZ(90deg);
						transform:rotateZ(90deg);
						transition:transform 0.3s;
					}
				}
				a{
					overflow:hidden;
					&.has-sub{
						@include calc('width','100% - 56px','80%');
					}
					@include font('f-bk',16px,$gray);
					line-height:21px;
					padding:17px 20px;
				}
				ul{
					float:left;
					width:100%;
					background:$t-black;
				}
			}
		}
	}
	&.open{
		> ul{
			display:block;
		}
		h2{
			&:before{
				-webkit-transform:rotateZ(180deg);
				-ms-transform:rotate(180deg);
				transform:rotateZ(180deg);
			}
		}
	}
	> ul{
		display:none;
		background:$md-gray;
		float:left;
		@include breakpoint($desk){
			display:block;
		}
		li{
			border-top:1px solid $white;
			a{
				display:block;
				padding:15px 0 15px 20px;
				color:#111;
				width:100%;
			}
			ul{
				display:none;
				float:left;
				background:$t-white;
			}
			&.open{
				>ul{
					display:block;
				}
			}
			&.active{
				font-weight:bold;
				li{
					font-weight:normal;
				}
			}
		}
	}
	&.toggles{
		> ul{
			li{
				> .sn-toggle{
					background:none;
					@include calc('width','54px','20%');
					height:56px;
					text-align:center;
					padding:0;
					border:none;
					span{
						font-size:21px;
						line-height:56px;
						color:$c-default;
						cursor:pointer;
						height:100%;
						-webkit-transform:rotateZ(90deg);
						-ms-transform:rotate(90deg);
						transform:rotateZ(90deg);
						transition:transform 0.3s;
					}
				}
				a{
					&.has-sub{
						@include calc('width','100% - 54px','80%');
					}
				}
				&.open{
					> .sn-toggle{
						span{
							-webkit-transform:rotateZ(-90deg);
							-ms-transform:rotate(-90deg);
							transform:rotateZ(-90deg);
						}
					}
				}
			}
		}
	}
}