
.subsection{
	padding:20px;
	border-bottom:1px solid $color-2;
	@include breakpoint($desk){
		padding:5px 0 20px;
	}
	h3{
		@include font('bebas',28px,$color-1);
		border:none;
		margin:10px 0;
		@include breakpoint($tab){
			margin:0;
		}
	}
	img{
		padding:0 20px 20px 0;
		@include breakpoint($tab-large){
			width:35%;
			padding-bottom:0;
		}
	}
	.container{
		@include breakpoint($tab-large){
			width:65%;
		}
		p{
			padding:20px 0;
			@include breakpoint($tab-large){
				padding-left:0;
				width:75%;
				padding:20px;
			}
			margin:0;
		}
		> div{
			margin:20px 0;
			@include breakpoint($tab-large){
				width:25%;
			}
			button{
				@include font('bebas',20px,$white);
				background:$color-1;
				padding:15px 30px 15px 20px;
				border:none;
				cursor:pointer;
				@include arrowafter(inherit,16px,"\f00d");
				&:after{
					right:10px;
					transition:all .2s;
					-webkit-transform:rotateZ(45deg);
					-ms-transform:rotateZ(45deg);
					transform:rotateZ(45deg);
				}
			}
			a{
				width:auto;
			}
		}
	}
	.subsection-hidden{
		display:none;
		.container{
			width:100%;
			h3{
				@include font('f-dm',24px,$color-1);
				text-transform:initial;
			}
		}
	}
	&.open{
		.container{
			> div{
				button{
					&:after{
						-webkit-transform:rotateZ(180deg);
						-ms-transform:rotateZ(180deg);
						transform:rotateZ(180deg);
					}
				}
			}
		}
		.subsection-hidden{
			display:block;
			> h4{
				padding:5px 20px;
				margin-top:20px;
				background:$color-2;
			}
			.p-list{
				margin-bottom:-30px;
				ul{
					li{
						width:100%;
						padding:0 20px;
						&:last-child{
							.subsection{
								border:none;
							}
						}
					}
				}
			}
		}
	}
}