/* _tabs.scss */
.ui-tabs{
	margin-bottom:20px;
	.ui-tabs-nav{
		display:table;
		width:100%;
		> li{
			width:auto;
			color:$white;
			border-right:2px solid $white;
			&:last-child{
				border-right:none;
			}
			&.ui-tabs-active,
			&.ui-state-active{
				a{
					background:$color-1;
					h3{
						color:$white;
						background:$color-1;
					}
				}
			}
			&.ui-state-hover{}
			a{
				outline:none;
				text-align:center;
				line-height:50px;
				text-transform:uppercase;
				background:$color-2;
				h3{
					@include font('bebas',20,$color-1);
					line-height:20px;
					border-bottom:0;
					margin:0;
					padding:20px;
					}
			}
		}
	}
	.ui-tabs-panel{
		padding:20px;
		border:2px solid $color-1;
	}
}
.tabs-container{
	margin-bottom:20px;
	.tabheaders{
		@include breakpoint($tab){
			display:table;
		}
		li{
			border-bottom:2px solid $white;
			@include breakpoint($tab){
				display:table-cell;
				border:none;
				width:auto;
			}
			a{
				@include font('bebas',20px,$color-1);
				line-height:18px;
				transition:all .5s ease-in-out;
				height:56px;
				display:block;
				text-decoration:none;
				padding:20px;
				background:$color-2;
				position:relative;
				@include breakpoint($tab){
					background:none;
					transition:none;
					background:$color-2;
					border-right: 2px solid $white;
				}
				&:hover{
					text-decoration:underline;
				}
				&:after{
					content:'+';
					font-family:Times;
					font-weight:normal;
					position:absolute;
					color:$color-1;
					font-weight:bold;
					right:20px;
					font-size:18px;
					transition:all .5s ease-in-out;
					@include breakpoint($tab){
						content:'';
						transition:none;
					}
				}
			}
			&.open{
				a{
					color:$white;
					background:$color-1;
					@include breakpoint($tab){
						color:$color-1;
						background:none;
					}
				}
			}
			&.open-desk{
				a{
					@include breakpoint($tab){
						color:$white;
						background:$color-1;
					}
				}
			}
		}
		&.collapsed{
			li{
				&.open{
					a{
						height:56px;
						padding:20px;
						color:$white;
						@include breakpoint($tab){
							height:auto;
							color:$color-1;
							background:$color-2;
						}
						&:after{
							@include breakpoint($tab){
								content:''
							}
							color:$white;
							transform:rotate(45deg);
						}
					}
				}
				&.open-desk{
					a{
						@include breakpoint($tab){
							color:$white;
							background:$color-1;
						}
					}
				}
				a{
					transition:all .5s ease-in-out;
					height:20px;
					padding:1px 20px;
					//color:$color-2;
					@include breakpoint($tab){
						height:auto;
						padding:20px;
						transition:none;
						color:$color-1;
					}
				}
			}
		}
	}
	div.contents{
		display:none;
		background:$white;
		&.open{
			display:block;
			float:left;
			width:100%;
			padding:20px;
			border: 2px solid $color-1;
			border-top: 0;
			@include breakpoint($tab){
				display:none;
			}
		}
		&.open-desk{
			@include breakpoint($tab){
				display:block;
				float:left;
				width:100%;
				padding:20px;
				border:2px solid $color-1;
			}
		}
	}
}