/* _ui_accordion.scss */
.ui-accordion{
	display:block;
	float:left;
	width:100%;
	margin-bottom:40px;
	h3{
		padding:10px 20px;
		@include font('open_sans_reg',20,$white);
		text-transform:uppercase;
		background:$color-1;
		border-bottom:2px solid $white;
		cursor:pointer;
		outline:none;
		margin:0;
		&.ui-state-active{
			background:$color-2;
			color:$color-1;
			&:after{
				-webkit-transform:rotateZ(-90deg);
				-ms-transform:rotateZ(-90deg);
				transform:rotateZ(-90deg);
			}
		}
		@include arrowdown(inherit,12px,"\f0da");
		&:after{
			right:20px;
			font-size:20px;
			top:calc(50% - 12px);
		}
	}
	.ui-accordion-content{
		display:block;
		float:left;
		width:100%;
		padding:0 20px;
		border:1px solid $color-2;
		border-top:0;
		margin-bottom:2px;
		p{
			float:none;
		}
	}
}