body.scrolljacking{
	.l-page{
		#content{}
		#nav{
			position:fixed;
			right:0;
			width:10px;
			top:50%;
			z-index:12;
			ul{
				padding:0;
				li{
					list-style:none;
					margin:0;
					width:10px;
					a{
						width:10px;
						height:10px;
						background:$gray;
						&.active{
							background:#333;
						}
					}
				}
			}
		}
		.section-wrapper{
			.section{
				.wrapper{
					height:100%;
					background:white;
					position:relative;
					overflow:hidden;
					.column,
					.b-column{
						> h2:first-child{
							margin-top:130px;
						}
					}
				}
				> .column,
				> .b-column{
					height:100%;
					background:white;
					> div{
						> h2:first-child{
							margin-top:110px;
						}
					}
				}
			}
			&.folding{
				.section{
					&.prev{
						position:fixed;
						top:0;
						& + .section{
							margin-top:100vh;
						}
					}
					&.active{
						z-index:2;
						& + .section{}
					}
				}
			}
		}
	}
}